In [27]:
import pandas as pd
import numpy as np

[series = pd.Series(["kartik","akshay","rohan","mohan","dikshit","Prashant","anmol"],name='myseries',index["k","b","D","S","DF","DF","E"])

series

SyntaxError: invalid syntax (1962863610.py, line 4)

In [24]:
df=pd.DataFrame(series)
df

   myseries
0    kartik
1    akshay
2     rohan
3     mohan
4   dikshit
5  Prashant
6     anmol