## class 6

In [ ]:
#built in functions

#these functions are precoded in python.
# user defined functions
#we can create functions for our specific use,

1.def
2.function name
3.parenthesis (())
4.colon(:)

In [12]:
def my_func(param1='defalut'):
    
    '''
    doc string goes here
    '''
    print(param1)
    
my_func("new param")

new param

In [3]:
def square(x):
    print( x**2)

square(3)

9

In [6]:
def name(fname,lname):
    print("hello",fname,lname)


name("abhinav","bindra")

hello abhinav bindra

### defalut argument

In [13]:
def pizza(size,name="mushroom piza") :
    print("I like",size,name)
pizza("extra cheezy","(panneez tika malai marke tandoori piza)")

I like extra cheezy (panneez tika malai marke tandoori piza)

In [4]:
def pizza(size,name,loc):
    print("i like",size,name,"pizza of ",loc)
pizza("regular","mushroom","dominos")

i like regular mushroom pizza of  dominos

In [5]:
def pizza(*t):
    print("i like",t[0],t[1],"pizza of",t[2])
pizza("regular","mushroom","dominic")

i like regular mushroom pizza of dominic

In [7]:
def pizza(**t):
    print("i like",t["size"],t["name"],"pizaa of",t["loc"])
pizza(size="regular",name="mushroom",loc="dominic")

i like regular mushroom pizaa of dominic

## the return statement return the value back to main function

In [9]:
def pizza(size,name,loc):
    return "i like"+" "+size+" "+name+" pizza of"+loc

pizza("regular","mushroom","dominos")

'i like regular mushroom pizza ofdominos'

In [4]:
# recursion

#function calling itself inside the function is called recursi

def factorial(num):
    if(num==1 or num==0):
        return 1
    else:
        return (num * factorial(num-1))
num=7
print("factoraial:",factorial((num)))

factoraial: 5040

In [12]:
l=[10,40,50,264,389,1,4,10,29]
ls=sorted(l,reverse=True)
print(ls[0])

389

In [62]:
math=int(input("Enter math marks : \n"))
science=int(input("Enter science marks : \n"))

def eligiblity(math,science,attendance):
    
    if math>70 and science>70 and attendance>70:
        print("You are eligible for test")
    else:
        print("Not eligible for test")
        
        
eligiblity(math,science,70)

Enter math marks :
70
Enter science marks :
70
Not eligible for test

In [64]:
#lamda funtion
def times(var):
    return var*2

times(5)

10

In [69]:
times = lambda var:var*2

468

In [70]:
x = lambda a, b: a if(a>b) else b

print(x(10,15))

15

In [72]:
seq=[1,2,3,4,5]
map(times,seq)
list(map(times,seq))

[2, 4, 6, 8, 10]

In [73]:
list(map(lambda var: var**2,seq))

[1, 4, 9, 16, 25]

In [76]:
li = [5,7,22,97,54,62,77,23,73,61]
t= lambda x:(x%2 !=0)
m=filter(t,li)
f=list(m)
print(f)

[5, 7, 97, 77, 23, 73, 61]