## Assignment 16

### Kartik Thakur

In [61]:
# 1. Merge the two files in one dataframe
# 2. Clean the data
# 3. Change the float column into integer type
# 4. Get the month value from the order date
# 5. Which was the most productive month in terms of sales?
# 6.  Which city had the highest number of sales?
# 7. At what time people did purchase the product?
# 8. What is the average purchase by city?

In [62]:
import pandas as pd

### 1. Merge the two files in one dataframe

In [27]:
# File 1 -contains purchase data of december
sale_dec=pd.read_csv('Sales_December_2019.csv')
sale_dec.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [28]:
sale_dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25037 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [29]:
#  File 2 is imported
sale_june=pd.read_csv('Sales_June_2019.csv')
sale_june.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [30]:
# Merged File
sale=pd.concat([sale_june,sale_dec])
sale.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

###  2. Clean the data

In [31]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38739 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38616 non-null  object
 1   Product           38616 non-null  object
 2   Quantity Ordered  38616 non-null  object
 3   Price Each        38616 non-null  object
 4   Order Date        38616 non-null  object
 5   Purchase Address  38616 non-null  object
dtypes: object(6)
memory usage: 2.1+ MB

In [32]:
# Checking for present null values
sale.isnull().sum()

Order ID            123
Product             123
Quantity Ordered    123
Price Each          123
Order Date          123
Purchase Address    123
dtype: int64

In [33]:
# Making a copy of original file
sale2=sale.copy()
sale2.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [34]:
# Droping OR removing the null values
sale2.dropna(inplace=True)

In [35]:
sale2.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [36]:
#Hence File is cleaned of null Values

In [37]:
sale2[sale2['Order ID']=='Order ID']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
158,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
990,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1679,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1684,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3126,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
23198,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
23337,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
23748,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
24192,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
24222,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [38]:
sale2.drop(sale2[sale2['Order ID']=='Order ID'].index,inplace=True)
sale2.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [39]:
sale2.reset_index()

,index,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"
...,...,...,...,...,...,...,...
38495,25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
38496,25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
38497,25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
38498,25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
38499,25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [40]:
# hence the file is cleaned of duplicate or unneeded values

### 3. Change the object type column into integer type or float type

In [41]:
sale2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38500 non-null  object
 1   Product           38500 non-null  object
 2   Quantity Ordered  38500 non-null  object
 3   Price Each        38500 non-null  object
 4   Order Date        38500 non-null  object
 5   Purchase Address  38500 non-null  object
dtypes: object(6)
memory usage: 2.1+ MB

In [42]:
## Change the data type to int
convert=["Order ID","Quantity Ordered"] 
for x in convert:
    sale2[x]=sale2[x].astype("int64")
sale2.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [43]:
sale2["Order ID"].dtype

dtype('int64')

In [44]:
## Change the data type to float
convert=["Price Each"] 
for col in convert:
    sale2[col]=sale2[col].astype("float64")

In [45]:
sale2['Price Each'].dtype

dtype('float64')

In [46]:
sale2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38500 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38500 non-null  int64
 1   Product           38500 non-null  object
 2   Quantity Ordered  38500 non-null  int64
 3   Price Each        38500 non-null  float64
 4   Order Date        38500 non-null  object
 5   Purchase Address  38500 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.1+ MB

### 4. Get the month value from the order date

In [47]:
l=[]
for x in sale2['Order Date']:
    d=x.split('/')
    l.append(d)
l

[['06', '23', '19 19:34'],
 ['06', '30', '19 10:05'],
 ['06', '24', '19 20:18'],
 ['06', '05', '19 10:21'],
 ['06', '25', '19 18:58'],
 ['06', '28', '19 20:04'],
 ['06', '28', '19 00:07'],
 ['06', '16', '19 21:30'],
 ['06', '28', '19 10:56'],
 ['06', '02', '19 11:22'],
 ['06', '24', '19 13:55'],
 ['06', '12', '19 14:36'],
 ['06', '07', '19 15:39'],
 ['06', '13', '19 20:53'],
 ['06', '09', '19 11:13'],
 ['06', '15', '19 12:21'],
 ['06', '29', '19 18:01'],
 ['06', '15', '19 12:29'],
 ['06', '15', '19 12:29'],
 ['06', '08', '19 16:55'],
 ['06', '26', '19 15:24'],
 ['06', '27', '19 11:18'],
 ['06', '19', '19 13:52'],
 ['06', '23', '19 16:19'],
 ['06', '02', '19 19:10'],
 ['06', '28', '19 08:53'],
 ['06', '28', '19 22:13'],
 ['06', '06', '19 22:41'],
 ['06', '09', '19 01:48'],
 ['06', '23', '19 07:45'],
 ['06', '23', '19 07:45'],
 ['06', '01', '19 18:03'],
 ['06', '30', '19 13:04'],
 ['06', '26', '19 17:48'],
 ['06', '16', '19 16:59'],
 ['06', '16', '19 07:21'],
 ['06', '15', '19 21:25'],
 ['06', '26', '19 15:23'],
 ['06', '13', '19 12:23'],
 ['06', '06', '19 12:09'],
 ['06', '01', '19 15:48'],
 ['06', '22', '19 11:53'],
 ['06', '22', '19 11:53'],
 ['06', '01', '19 23:00'],
 ['06', '01', '19 23:00'],
 ['06', '23', '19 10:58'],
 ['06', '13', '19 18:58'],
 ['06', '11', '19 14:30'],
 ['06', '24', '19 14:00'],
 ['06', '20', '19 09:46'],
 ['06', '21', '19 21:18'],
 ['06', '23', '19 13:06'],
 ['06', '21', '19 15:55'],
 ['06', '08', '19 20:58'],
 ['06', '22', '19 15:11'],
 ['06', '14', '19 17:09'],
 ['06', '06', '19 12:20'],
 ['06', '11', '19 10:06'],
 ['06', '05', '19 21:25'],
 ['06', '26', '19 11:52'],
 ['06', '01', '19 06:28'],
 ['06', '05', '19 13:50'],
 ['06', '24', '19 09:42'],
 ['06', '28', '19 20:28'],
 ['06', '05', '19 19:25'],
 ['06', '17', '19 19:31'],
 ['06', '22', '19 16:25'],
 ['06', '03', '19 06:50'],
 ['06', '05', '19 22:18'],
 ['06', '23', '19 16:49'],
 ['06', '03', '19 03:22'],
 ['06', '27', '19 18:04'],
 ['06', '19', '19 23:34'],
 ['06', '16', '19 20:31'],
 ['06', '02', '19 19:00'],
 ['06', '21', '19 07:51'],
 ['06', '04', '19 18:14'],
 ['06', '28', '19 21:01'],
 ['06', '13', '19 19:16'],
 ['06', '13', '19 08:21'],
 ['06', '19', '19 11:23'],
 ['06', '17', '19 23:15'],
 ['06', '16', '19 08:37'],
 ['06', '06', '19 19:17'],
 ['06', '22', '19 12:47'],
 ['06', '26', '19 13:28'],
 ['06', '26', '19 15:09'],
 ['06', '23', '19 14:40'],
 ['06', '12', '19 19:53'],
 ['06', '21', '19 19:02'],
 ['06', '30', '19 09:06'],
 ['06', '19', '19 00:07'],
 ['06', '29', '19 09:24'],
 ['06', '01', '19 10:56'],
 ['06', '13', '19 15:10'],
 ['06', '04', '19 17:21'],
 ['06', '17', '19 17:27'],
 ['06', '28', '19 17:08'],
 ['06', '06', '19 18:12'],
 ['06', '22', '19 22:17'],
 ['06', '18', '19 17:03'],
 ['06', '14', '19 15:01'],
 ['06', '27', '19 17:10'],
 ['06', '26', '19 15:02'],
 ['06', '07', '19 23:22'],
 ['06', '29', '19 08:19'],
 ['06', '12', '19 21:24'],
 ['06', '19', '19 20:21'],
 ['06', '02', '19 16:59'],
 ['06', '12', '19 13:42'],
 ['06', '05', '19 14:35'],
 ['06', '15', '19 18:24'],
 ['06', '05', '19 15:21'],
 ['06', '03', '19 09:11'],
 ['06', '08', '19 11:01'],
 ['06', '27', '19 11:59'],
 ['06', '15', '19 18:25'],
 ['06', '14', '19 18:07'],
 ['06', '30', '19 14:02'],
 ['06', '08', '19 19:05'],
 ['06', '26', '19 09:53'],
 ['06', '15', '19 14:49'],
 ['06', '10', '19 09:08'],
 ['06', '29', '19 14:30'],
 ['06', '17', '19 21:31'],
 ['06', '21', '19 06:28'],
 ['06', '16', '19 23:20'],
 ['06', '14', '19 00:28'],
 ['06', '03', '19 19:58'],
 ['06', '15', '19 11:08'],
 ['06', '06', '19 18:53'],
 ['06', '05', '19 07:41'],
 ['06', '20', '19 18:20'],
 ['06', '13', '19 11:24'],
 ['06', '11', '19 16:15'],
 ['06', '18', '19 14:01'],
 ['06', '04', '19 11:55'],
 ['06', '22', '19 18:26'],
 ['06', '17', '19 20:00'],
 ['06', '09', '19 00:13'],
 ['06', '19', '19 09:23'],
 ['06', '12', '19 14:17'],
 ['06', '06', '19 18:50'],
 ['06', '06', '19 20:24'],
 ['06', '28', '19 23:36'],
 ['06', '04', '19 14:37'],
 ['06', '19', '19 23:19'],
 ['06', '16', '19 20:39'],
 ['06', '16', '19 20:39'],
 ['06', '20', '19 15:11'],
 ['06', '07', '19 12:07'],
 ['06', '16', '19 15:47'],
 ['06', '09', '19 16:40'],
 ['06', '11', '19 06:26'],
 ['06', '19', '19 17:05'],
 ['06', '10', '19 17:31'],
 ['06', '19', '19 16:07'],
 ['06', '14', '19 17:21'],
 ['06', '25', '19 10:06'],
 ['06', '07', '19 14:29'],
 ['06', '16', '19 22:58'],
 ['06', '15', '19 07:33'],
 ['06', '08', '19 17:12'],
 ['06', '10', '19 16:48'],
 ['06', '24', '19 21:20'],
 ['06', '01', '19 21:29'],
 ['06', '02', '19 15:26'],
 ['06', '05', '19 09:51'],
 ['06', '11', '19 18:16'],
 ['06', '08', '19 19:13'],
 ['06', '02', '19 21:09'],
 ['06', '30', '19 12:11'],
 ['06', '18', '19 18:37'],
 ['06', '24', '19 19:10'],
 ['06', '29', '19 15:43'],
 ['06', '03', '19 05:39'],
 ['06', '02', '19 19:52'],
 ['06', '04', '19 08:52'],
 ['06', '06', '19 11:55'],
 ['06', '27', '19 14:01'],
 ['06', '10', '19 10:17'],
 ['06', '07', '19 12:26'],
 ['06', '06', '19 00:11'],
 ['06', '17', '19 20:56'],
 ['06', '27', '19 09:30'],
 ['06', '05', '19 13:53'],
 ['06', '17', '19 09:05'],
 ['06', '01', '19 17:58'],
 ['06', '14', '19 16:51'],
 ['06', '19', '19 20:22'],
 ['06', '12', '19 20:04'],
 ['06', '13', '19 07:19'],
 ['06', '25', '19 12:37'],
 ['06', '24', '19 12:04'],
 ['06', '13', '19 18:26'],
 ['06', '12', '19 20:58'],
 ['06', '05', '19 21:44'],
 ['06', '30', '19 18:44'],
 ['06', '20', '19 07:19'],
 ['06', '04', '19 19:16'],
 ['06', '13', '19 21:52'],
 ['06', '25', '19 17:23'],
 ['06', '23', '19 12:29'],
 ['06', '24', '19 18:02'],
 ['06', '28', '19 11:00'],
 ['06', '10', '19 17:13'],
 ['06', '27', '19 21:23'],
 ['06', '01', '19 22:36'],
 ['06', '13', '19 10:16'],
 ['06', '01', '19 11:02'],
 ['06', '21', '19 18:51'],
 ['06', '15', '19 11:23'],
 ['06', '08', '19 07:20'],
 ['06', '11', '19 12:13'],
 ['06', '11', '19 10:26'],
 ['06', '29', '19 10:16'],
 ['06', '18', '19 21:24'],
 ['06', '26', '19 19:19'],
 ['06', '17', '19 11:40'],
 ['06', '26', '19 23:56'],
 ['06', '12', '19 22:13'],
 ['06', '18', '19 20:05'],
 ['06', '25', '19 17:58'],
 ['06', '02', '19 20:55'],
 ['06', '18', '19 13:54'],
 ['06', '15', '19 18:45'],
 ['06', '24', '19 18:26'],
 ['06', '25', '19 10:05'],
 ['06', '17', '19 15:19'],
 ['06', '17', '19 15:19'],
 ['06', '28', '19 22:20'],
 ['06', '25', '19 20:20'],
 ['06', '12', '19 22:37'],
 ['06', '16', '19 07:24'],
 ['06', '16', '19 07:24'],
 ['06', '14', '19 17:09'],
 ['06', '11', '19 13:10'],
 ['06', '10', '19 21:51'],
 ['06', '20', '19 22:11'],
 ['06', '09', '19 14:58'],
 ['06', '02', '19 16:07'],
 ['06', '08', '19 18:33'],
 ['06', '02', '19 11:37'],
 ['06', '20', '19 08:46'],
 ['06', '12', '19 11:50'],
 ['06', '12', '19 13:43'],
 ['06', '18', '19 13:22'],
 ['06', '27', '19 19:24'],
 ['06', '20', '19 21:02'],
 ['06', '16', '19 13:57'],
 ['06', '06', '19 20:05'],
 ['06', '18', '19 16:43'],
 ['06', '21', '19 21:33'],
 ['06', '09', '19 11:28'],
 ['06', '26', '19 19:04'],
 ['06', '05', '19 20:00'],
 ['06', '30', '19 13:59'],
 ['06', '15', '19 20:59'],
 ['06', '29', '19 02:07'],
 ['06', '05', '19 15:22'],
 ['06', '26', '19 13:56'],
 ['06', '28', '19 17:53'],
 ['06', '26', '19 19:23'],
 ['06', '14', '19 20:06'],
 ['06', '07', '19 15:42'],
 ['06', '18', '19 18:59'],
 ['06', '01', '19 10:30'],
 ['06', '20', '19 17:56'],
 ['06', '09', '19 01:53'],
 ['06', '27', '19 21:49'],
 ['06', '27', '19 08:16'],
 ['06', '04', '19 15:47'],
 ['06', '28', '19 15:36'],
 ['06', '11', '19 14:31'],
 ['06', '03', '19 17:22'],
 ['06', '14', '19 11:28'],
 ['06', '27', '19 18:47'],
 ['06', '28', '19 20:20'],
 ['06', '05', '19 12:36'],
 ['06', '30', '19 15:43'],
 ['06', '26', '19 22:50'],
 ['06', '28', '19 19:54'],
 ['06', '11', '19 18:50'],
 ['06', '20', '19 20:33'],
 ['06', '10', '19 11:14'],
 ['06', '14', '19 20:33'],
 ['06', '18', '19 07:20'],
 ['06', '28', '19 13:26'],
 ['06', '24', '19 17:10'],
 ['06', '29', '19 12:20'],
 ['06', '08', '19 16:00'],
 ['06', '07', '19 17:59'],
 ['06', '16', '19 09:47'],
 ['06', '16', '19 09:47'],
 ['06', '02', '19 19:37'],
 ['06', '09', '19 18:18'],
 ['06', '26', '19 19:07'],
 ['06', '20', '19 12:33'],
 ['06', '29', '19 11:22'],
 ['06', '05', '19 11:53'],
 ['06', '18', '19 20:00'],
 ['06', '28', '19 20:01'],
 ['06', '14', '19 18:52'],
 ['06', '16', '19 16:58'],
 ['06', '01', '19 12:12'],
 ['06', '12', '19 13:55'],
 ['06', '24', '19 14:05'],
 ['06', '11', '19 11:27'],
 ['06', '16', '19 10:57'],
 ['06', '24', '19 09:30'],
 ['06', '09', '19 20:57'],
 ['06', '01', '19 16:58'],
 ['06', '05', '19 08:34'],
 ['06', '27', '19 09:50'],
 ['06', '11', '19 06:23'],
 ['06', '07', '19 08:00'],
 ['06', '03', '19 21:52'],
 ['06', '04', '19 11:08'],
 ['06', '06', '19 16:43'],
 ['06', '12', '19 11:52'],
 ['06', '17', '19 19:23'],
 ['06', '18', '19 15:14'],
 ['06', '09', '19 11:17'],
 ['06', '04', '19 08:22'],
 ['06', '05', '19 13:35'],
 ['06', '19', '19 18:03'],
 ['06', '04', '19 13:36'],
 ['06', '04', '19 13:49'],
 ['06', '03', '19 19:17'],
 ['06', '07', '19 13:50'],
 ['06', '20', '19 22:51'],
 ['06', '14', '19 12:31'],
 ['06', '02', '19 23:35'],
 ['06', '21', '19 16:30'],
 ['06', '16', '19 22:58'],
 ['06', '10', '19 05:05'],
 ['06', '26', '19 22:26'],
 ['06', '03', '19 21:02'],
 ['06', '15', '19 18:53'],
 ['06', '11', '19 20:40'],
 ['06', '11', '19 20:40'],
 ['06', '14', '19 13:24'],
 ['06', '09', '19 21:56'],
 ['06', '01', '19 18:27'],
 ['06', '16', '19 13:33'],
 ['06', '01', '19 14:03'],
 ['06', '05', '19 15:08'],
 ['06', '22', '19 15:59'],
 ['06', '30', '19 10:08'],
 ['06', '22', '19 19:50'],
 ['06', '29', '19 00:45'],
 ['06', '25', '19 11:42'],
 ['06', '12', '19 01:22'],
 ['06', '14', '19 11:43'],
 ['06', '24', '19 10:23'],
 ['06', '04', '19 18:59'],
 ['06', '15', '19 21:31'],
 ['06', '06', '19 12:34'],
 ['06', '15', '19 16:00'],
 ['06', '15', '19 16:00'],
 ['06', '19', '19 05:46'],
 ['06', '19', '19 13:42'],
 ['06', '22', '19 21:48'],
 ['06', '22', '19 21:48'],
 ['06', '21', '19 09:15'],
 ['06', '21', '19 20:16'],
 ['06', '16', '19 14:39'],
 ['06', '20', '19 11:22'],
 ['06', '14', '19 09:02'],
 ['06', '30', '19 21:08'],
 ['06', '02', '19 20:09'],
 ['06', '02', '19 19:35'],
 ['06', '24', '19 21:15'],
 ['06', '16', '19 21:00'],
 ['06', '14', '19 18:49'],
 ['06', '14', '19 18:49'],
 ['06', '30', '19 17:11'],
 ['06', '17', '19 07:28'],
 ['06', '11', '19 06:44'],
 ['06', '22', '19 23:18'],
 ['06', '15', '19 10:47'],
 ['06', '29', '19 10:09'],
 ['06', '08', '19 09:00'],
 ['06', '17', '19 13:47'],
 ['06', '06', '19 15:00'],
 ['06', '17', '19 18:35'],
 ['06', '19', '19 13:41'],
 ['06', '08', '19 19:59'],
 ['06', '11', '19 20:42'],
 ['06', '06', '19 14:26'],
 ['06', '12', '19 10:12'],
 ['06', '10', '19 16:20'],
 ['06', '24', '19 15:52'],
 ['06', '02', '19 19:38'],
 ['06', '16', '19 19:39'],
 ['06', '06', '19 06:49'],
 ['06', '19', '19 19:09'],
 ['06', '03', '19 11:54'],
 ['06', '19', '19 17:35'],
 ['06', '26', '19 10:58'],
 ['06', '12', '19 10:27'],
 ['06', '12', '19 10:27'],
 ['06', '25', '19 20:48'],
 ['06', '19', '19 10:42'],
 ['06', '09', '19 20:04'],
 ['06', '06', '19 15:31'],
 ['06', '22', '19 18:13'],
 ['06', '14', '19 00:35'],
 ['06', '25', '19 10:48'],
 ['06', '22', '19 23:07'],
 ['06', '20', '19 18:18'],
 ['06', '22', '19 10:23'],
 ['06', '22', '19 10:23'],
 ['06', '16', '19 10:34'],
 ['06', '06', '19 19:01'],
 ['06', '06', '19 15:46'],
 ['06', '23', '19 14:50'],
 ['06', '21', '19 08:26'],
 ['06', '16', '19 12:23'],
 ['06', '29', '19 19:02'],
 ['06', '29', '19 11:25'],
 ['06', '03', '19 12:14'],
 ['06', '16', '19 22:14'],
 ['06', '20', '19 20:23'],
 ['06', '01', '19 08:25'],
 ['06', '17', '19 12:52'],
 ['06', '20', '19 20:10'],
 ['06', '15', '19 19:33'],
 ['06', '17', '19 14:43'],
 ['06', '05', '19 18:37'],
 ['06', '13', '19 13:07'],
 ['06', '26', '19 08:08'],
 ['06', '15', '19 20:27'],
 ['06', '15', '19 09:25'],
 ['06', '14', '19 12:17'],
 ['06', '03', '19 12:04'],
 ['06', '24', '19 15:59'],
 ['06', '01', '19 09:44'],
 ['06', '24', '19 21:20'],
 ['06', '19', '19 21:45'],
 ['06', '01', '19 19:52'],
 ['06', '29', '19 22:05'],
 ['06', '29', '19 22:05'],
 ['06', '03', '19 20:11'],
 ['06', '01', '19 20:48'],
 ['06', '01', '19 20:48'],
 ['06', '03', '19 14:58'],
 ['06', '17', '19 23:13'],
 ['06', '09', '19 09:49'],
 ['06', '10', '19 20:48'],
 ['06', '14', '19 18:29'],
 ['06', '30', '19 12:37'],
 ['06', '10', '19 10:35'],
 ['06', '05', '19 11:38'],
 ['06', '08', '19 09:12'],
 ['06', '14', '19 07:26'],
 ['06', '04', '19 22:29'],
 ['06', '13', '19 21:19'],
 ['06', '14', '19 23:09'],
 ['06', '13', '19 18:24'],
 ['06', '13', '19 18:24'],
 ['06', '01', '19 12:48'],
 ['06', '04', '19 18:07'],
 ['06', '29', '19 23:59'],
 ['06', '17', '19 19:34'],
 ['06', '03', '19 10:22'],
 ['06', '08', '19 15:51'],
 ['06', '08', '19 15:51'],
 ['06', '28', '19 14:45'],
 ['06', '16', '19 13:01'],
 ['06', '22', '19 19:56'],
 ['06', '13', '19 10:37'],
 ['06', '13', '19 22:12'],
 ['06', '03', '19 01:11'],
 ['06', '18', '19 18:29'],
 ['06', '30', '19 20:17'],
 ['06', '12', '19 22:32'],
 ['06', '27', '19 21:19'],
 ['06', '10', '19 21:47'],
 ['06', '02', '19 13:35'],
 ['06', '26', '19 05:50'],
 ['06', '12', '19 20:38'],
 ['06', '14', '19 15:10'],
 ['06', '01', '19 22:23'],
 ['06', '10', '19 21:34'],
 ['06', '19', '19 23:11'],
 ['06', '16', '19 17:09'],
 ['06', '29', '19 17:32'],
 ['06', '28', '19 19:20'],
 ['06', '14', '19 12:33'],
 ['06', '13', '19 16:57'],
 ['06', '30', '19 17:47'],
 ['06', '09', '19 19:34'],
 ['06', '13', '19 13:19'],
 ['06', '24', '19 20:37'],
 ['06', '15', '19 22:39'],
 ['06', '20', '19 21:06'],
 ['06', '20', '19 21:06'],
 ['06', '25', '19 21:14'],
 ['06', '20', '19 22:06'],
 ['06', '13', '19 21:13'],
 ['06', '16', '19 07:18'],
 ['06', '16', '19 21:14'],
 ['06', '11', '19 20:12'],
 ['06', '01', '19 17:57'],
 ['06', '07', '19 11:27'],
 ['06', '20', '19 17:42'],
 ['06', '17', '19 15:53'],
 ['06', '02', '19 11:14'],
 ['06', '03', '19 10:47'],
 ['06', '15', '19 13:02'],
 ['06', '16', '19 17:04'],
 ['06', '12', '19 10:11'],
 ['06', '28', '19 13:49'],
 ['06', '28', '19 15:20'],
 ['06', '24', '19 21:53'],
 ['06', '10', '19 09:33'],
 ['06', '29', '19 10:36'],
 ['06', '17', '19 15:34'],
 ['06', '20', '19 22:48'],
 ['06', '15', '19 11:59'],
 ['06', '21', '19 00:29'],
 ['06', '09', '19 00:33'],
 ['06', '17', '19 09:08'],
 ['06', '29', '19 12:10'],
 ['06', '30', '19 23:24'],
 ['06', '26', '19 10:51'],
 ['06', '09', '19 21:17'],
 ['06', '17', '19 15:07'],
 ['06', '21', '19 14:46'],
 ['06', '15', '19 17:41'],
 ['06', '19', '19 19:31'],
 ['06', '04', '19 18:05'],
 ['06', '14', '19 12:35'],
 ['06', '22', '19 22:41'],
 ['06', '03', '19 12:21'],
 ['06', '29', '19 19:57'],
 ['06', '20', '19 10:27'],
 ['06', '20', '19 10:27'],
 ['06', '03', '19 20:59'],
 ['06', '21', '19 11:13'],
 ['06', '18', '19 10:18'],
 ['06', '18', '19 10:18'],
 ['06', '08', '19 19:16'],
 ['06', '26', '19 21:26'],
 ['06', '26', '19 20:00'],
 ['06', '21', '19 17:17'],
 ['06', '05', '19 19:27'],
 ['06', '08', '19 12:05'],
 ['06', '14', '19 20:07'],
 ['06', '09', '19 07:05'],
 ['06', '13', '19 12:03'],
 ['06', '13', '19 12:08'],
 ['06', '03', '19 18:05'],
 ['06', '18', '19 17:51'],
 ['06', '08', '19 15:24'],
 ['06', '08', '19 15:24'],
 ['06', '05', '19 20:44'],
 ['06', '05', '19 14:36'],
 ['06', '10', '19 12:39'],
 ['06', '12', '19 11:35'],
 ['06', '16', '19 21:52'],
 ['06', '25', '19 21:00'],
 ['06', '08', '19 17:43'],
 ['06', '26', '19 12:36'],
 ['06', '01', '19 13:04'],
 ['06', '21', '19 18:52'],
 ['06', '01', '19 21:17'],
 ['06', '05', '19 12:49'],
 ['06', '30', '19 18:19'],
 ['06', '19', '19 19:32'],
 ['06', '09', '19 17:01'],
 ['06', '16', '19 01:42'],
 ['06', '06', '19 11:10'],
 ['06', '15', '19 12:39'],
 ['06', '28', '19 15:57'],
 ['06', '24', '19 10:53'],
 ['06', '05', '19 17:15'],
 ['06', '08', '19 12:03'],
 ['06', '29', '19 08:34'],
 ['06', '02', '19 20:54'],
 ['06', '07', '19 18:47'],
 ['06', '29', '19 18:14'],
 ['06', '22', '19 21:51'],
 ['06', '14', '19 09:31'],
 ['06', '30', '19 14:17'],
 ['06', '19', '19 19:49'],
 ['06', '28', '19 15:35'],
 ['06', '08', '19 22:36'],
 ['06', '06', '19 14:24'],
 ['06', '04', '19 09:46'],
 ['06', '04', '19 18:21'],
 ['06', '24', '19 15:31'],
 ['06', '25', '19 23:13'],
 ['06', '28', '19 23:36'],
 ['06', '21', '19 14:37'],
 ['06', '21', '19 14:37'],
 ['06', '13', '19 00:30'],
 ['06', '29', '19 11:50'],
 ['06', '26', '19 20:06'],
 ['06', '16', '19 17:34'],
 ['06', '08', '19 16:00'],
 ['06', '04', '19 17:58'],
 ['06', '29', '19 06:20'],
 ['06', '20', '19 14:20'],
 ['06', '30', '19 11:47'],
 ['06', '04', '19 16:45'],
 ['06', '11', '19 13:44'],
 ['06', '21', '19 12:40'],
 ['06', '28', '19 19:58'],
 ['06', '11', '19 21:59'],
 ['06', '12', '19 12:01'],
 ['06', '25', '19 18:38'],
 ['06', '14', '19 14:19'],
 ['06', '10', '19 17:07'],
 ['06', '11', '19 20:07'],
 ['06', '23', '19 23:50'],
 ['06', '04', '19 18:36'],
 ['06', '19', '19 18:54'],
 ['06', '29', '19 21:34'],
 ['06', '20', '19 11:51'],
 ['06', '19', '19 18:47'],
 ['06', '03', '19 13:28'],
 ['06', '07', '19 16:58'],
 ['06', '18', '19 22:58'],
 ['06', '11', '19 18:24'],
 ['06', '08', '19 07:37'],
 ['06', '05', '19 15:17'],
 ['06', '14', '19 19:57'],
 ['06', '29', '19 16:32'],
 ['06', '25', '19 22:08'],
 ['06', '23', '19 18:29'],
 ['06', '09', '19 09:40'],
 ['06', '13', '19 20:53'],
 ['06', '06', '19 01:20'],
 ['06', '25', '19 09:47'],
 ['06', '19', '19 19:14'],
 ['06', '27', '19 09:13'],
 ['06', '12', '19 19:00'],
 ['06', '28', '19 14:22'],
 ['06', '29', '19 18:05'],
 ['06', '30', '19 19:23'],
 ['06', '15', '19 15:17'],
 ['06', '14', '19 16:50'],
 ['06', '09', '19 20:03'],
 ['06', '08', '19 15:36'],
 ['06', '07', '19 21:59'],
 ['06', '30', '19 13:24'],
 ['06', '23', '19 20:21'],
 ['06', '09', '19 10:45'],
 ['06', '25', '19 18:19'],
 ['06', '11', '19 19:41'],
 ['06', '11', '19 19:41'],
 ['06', '30', '19 06:20'],
 ['06', '12', '19 19:41'],
 ['06', '25', '19 17:54'],
 ['06', '08', '19 16:10'],
 ['06', '12', '19 10:42'],
 ['06', '07', '19 13:43'],
 ['06', '13', '19 13:29'],
 ['06', '12', '19 17:05'],
 ['06', '14', '19 12:52'],
 ['06', '09', '19 08:43'],
 ['06', '16', '19 08:52'],
 ['06', '30', '19 23:19'],
 ['06', '15', '19 09:52'],
 ['06', '11', '19 20:38'],
 ['06', '17', '19 11:57'],
 ['06', '23', '19 22:37'],
 ['06', '09', '19 07:33'],
 ['06', '21', '19 09:45'],
 ['06', '30', '19 19:22'],
 ['06', '20', '19 10:56'],
 ['06', '17', '19 14:15'],
 ['06', '19', '19 14:59'],
 ['06', '21', '19 10:03'],
 ['06', '26', '19 14:18'],
 ['06', '01', '19 20:25'],
 ['06', '06', '19 14:26'],
 ['06', '03', '19 21:52'],
 ['06', '03', '19 21:52'],
 ['06', '30', '19 19:03'],
 ['06', '10', '19 10:29'],
 ['06', '24', '19 18:07'],
 ['06', '27', '19 14:45'],
 ['06', '13', '19 14:18'],
 ['06', '16', '19 11:59'],
 ['06', '30', '19 21:38'],
 ['06', '21', '19 00:28'],
 ['06', '19', '19 17:06'],
 ['06', '05', '19 11:39'],
 ['06', '27', '19 18:17'],
 ['06', '21', '19 15:56'],
 ['06', '23', '19 10:56'],
 ['06', '07', '19 10:28'],
 ['06', '25', '19 21:38'],
 ['06', '25', '19 21:38'],
 ['06', '23', '19 13:22'],
 ['06', '18', '19 22:06'],
 ['06', '02', '19 10:11'],
 ['06', '07', '19 07:33'],
 ['06', '25', '19 12:34'],
 ['06', '28', '19 20:19'],
 ['06', '01', '19 11:58'],
 ['06', '19', '19 10:10'],
 ['06', '08', '19 07:18'],
 ['06', '06', '19 14:46'],
 ['06', '22', '19 14:09'],
 ['06', '12', '19 11:56'],
 ['06', '12', '19 11:56'],
 ['06', '30', '19 16:47'],
 ['06', '11', '19 10:43'],
 ['06', '10', '19 19:26'],
 ['06', '26', '19 16:37'],
 ['06', '26', '19 16:37'],
 ['06', '08', '19 11:36'],
 ['06', '10', '19 21:15'],
 ['06', '05', '19 06:47'],
 ['06', '24', '19 13:24'],
 ['06', '06', '19 20:34'],
 ['06', '30', '19 13:58'],
 ['06', '20', '19 14:54'],
 ['06', '15', '19 16:36'],
 ['06', '27', '19 14:01'],
 ['06', '07', '19 12:56'],
 ['06', '05', '19 12:25'],
 ['06', '26', '19 16:51'],
 ['06', '23', '19 22:44'],
 ['06', '17', '19 19:35'],
 ['06', '06', '19 12:19'],
 ['06', '01', '19 19:09'],
 ['06', '08', '19 13:10'],
 ['06', '12', '19 23:57'],
 ['06', '25', '19 18:09'],
 ['06', '27', '19 09:55'],
 ['06', '10', '19 14:46'],
 ['06', '29', '19 16:04'],
 ['06', '19', '19 11:19'],
 ['06', '10', '19 22:31'],
 ['06', '02', '19 11:48'],

In [48]:
m=[]
for i in l:
    m.append(i[0])
m

['06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 '06',
 ...]

In [49]:
sale2['Month']=m
sale2

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101",06
1,209922,Macbook Pro Laptop,1,1700.00,06/30/19 10:05,"80 4th St, San Francisco, CA 94016",06
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001",06
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101",06
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016",06
...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",12
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",12
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",12
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",12
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",12

### 5. Which was the most productive month in terms of sales?

In [50]:
sale2['Sales']=sale2['Quantity Ordered']*sale2['Price Each']
sale2

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101",06,11.95
1,209922,Macbook Pro Laptop,1,1700.00,06/30/19 10:05,"80 4th St, San Francisco, CA 94016",06,1700.00
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001",06,999.99
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101",06,149.99
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016",06,99.99
...,...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",12,14.95
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",12,7.68
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",12,400.00
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",12,11.99
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",12,99.99

In [51]:
sale2.groupby('Month')["Quantity Ordered"].sum().sort_values(ascending=False).head(1)

Month
12    28056
Name: Quantity Ordered, dtype: int64

In [52]:
# Hence, we can say that in December , We Had the Higher numbers of Sales.

### 6.  Which city had the highest number of sales?

In [53]:
y=[]
for x in sale2['Purchase Address']:
    m=x.split(',')
    y.append(m)
y

[['950 Walnut St', ' Portland', ' ME 04101'],
 ['80 4th St', ' San Francisco', ' CA 94016'],
 ['402 Jackson St', ' Los Angeles', ' CA 90001'],
 ['560 10th St', ' Seattle', ' WA 98101'],
 ['545 2nd St', ' San Francisco', ' CA 94016'],
 ['386 Lake St', ' Seattle', ' WA 98101'],
 ['29 Lincoln St', ' Los Angeles', ' CA 90001'],
 ['350 9th St', ' New York City', ' NY 10001'],
 ['612 Meadow St', ' Portland', ' OR 97035'],
 ['625 Ridge St', ' Los Angeles', ' CA 90001'],
 ['761 14th St', ' New York City', ' NY 10001'],
 ['858 8th St', ' Boston', ' MA 02215'],
 ['932 Lakeview St', ' San Francisco', ' CA 94016'],
 ['387 Dogwood St', ' Boston', ' MA 02215'],
 ['530 Cedar St', ' Boston', ' MA 02215'],
 ['769 Dogwood St', ' Dallas', ' TX 75001'],
 ['675 Maple St', ' Dallas', ' TX 75001'],
 ['766 Meadow St', ' Seattle', ' WA 98101'],
 ['766 Meadow St', ' Seattle', ' WA 98101'],
 ['313 South St', ' San Francisco', ' CA 94016'],
 ['990 South St', ' Atlanta', ' GA 30301'],
 ['486 13th St', ' Boston', ' MA 02215'],
 ['874 Wilson St', ' Austin', ' TX 73301'],
 ['158 Willow St', ' Los Angeles', ' CA 90001'],
 ['916 Lake St', ' Austin', ' TX 73301'],
 ['211 12th St', ' San Francisco', ' CA 94016'],
 ['66 Cherry St', ' San Francisco', ' CA 94016'],
 ['7 Lakeview St', ' San Francisco', ' CA 94016'],
 ['101 Spruce St', ' Atlanta', ' GA 30301'],
 ['637 12th St', ' San Francisco', ' CA 94016'],
 ['637 12th St', ' San Francisco', ' CA 94016'],
 ['689 Walnut St', ' Los Angeles', ' CA 90001'],
 ['998 Johnson St', ' New York City', ' NY 10001'],
 ['314 Willow St', ' Dallas', ' TX 75001'],
 ['753 6th St', ' Dallas', ' TX 75001'],
 ['599 2nd St', ' San Francisco', ' CA 94016'],
 ['549 2nd St', ' Atlanta', ' GA 30301'],
 ['910 Jackson St', ' Seattle', ' WA 98101'],
 ['545 Dogwood St', ' Los Angeles', ' CA 90001'],
 ['326 Hickory St', ' Los Angeles', ' CA 90001'],
 ['88 River St', ' Atlanta', ' GA 30301'],
 ['333 Sunset St', ' Dallas', ' TX 75001'],
 ['333 Sunset St', ' Dallas', ' TX 75001'],
 ['482 South St', ' Austin', ' TX 73301'],
 ['482 South St', ' Austin', ' TX 73301'],
 ['441 Cherry St', ' New York City', ' NY 10001'],
 ['551 Hill St', ' Boston', ' MA 02215'],
 ['822 8th St', ' Los Angeles', ' CA 90001'],
 ['910 North St', ' San Francisco', ' CA 94016'],
 ['743 Adams St', ' New York City', ' NY 10001'],
 ['584 Chestnut St', ' San Francisco', ' CA 94016'],
 ['120 Church St', ' Dallas', ' TX 75001'],
 ['133 Sunset St', ' Los Angeles', ' CA 90001'],
 ['181 Meadow St', ' Seattle', ' WA 98101'],
 ['440 Maple St', ' Dallas', ' TX 75001'],
 ['690 11th St', ' New York City', ' NY 10001'],
 ['658 Highland St', ' Austin', ' TX 73301'],
 ['555 9th St', ' New York City', ' NY 10001'],
 ['152 Johnson St', ' New York City', ' NY 10001'],
 ['966 Washington St', ' Atlanta', ' GA 30301'],
 ['96 14th St', ' Los Angeles', ' CA 90001'],
 ['57 1st St', ' Los Angeles', ' CA 90001'],
 ['979 2nd St', ' San Francisco', ' CA 94016'],
 ['875 Forest St', ' New York City', ' NY 10001'],
 ['898 14th St', ' Los Angeles', ' CA 90001'],
 ['315 Forest St', ' New York City', ' NY 10001'],
 ['702 Center St', ' Seattle', ' WA 98101'],
 ['36 7th St', ' Seattle', ' WA 98101'],
 ['54 12th St', ' Portland', ' OR 97035'],
 ['11 Wilson St', ' New York City', ' NY 10001'],
 ['76 River St', ' Los Angeles', ' CA 90001'],
 ['403 Main St', ' San Francisco', ' CA 94016'],
 ['285 8th St', ' Los Angeles', ' CA 90001'],
 ['557 Wilson St', ' Austin', ' TX 73301'],
 ['835 Chestnut St', ' Boston', ' MA 02215'],
 ['207 13th St', ' Boston', ' MA 02215'],
 ['810 Meadow St', ' Dallas', ' TX 75001'],
 ['679 Washington St', ' Boston', ' MA 02215'],
 ['890 Washington St', ' Austin', ' TX 73301'],
 ['965 Johnson St', ' Austin', ' TX 73301'],
 ['594 Lake St', ' New York City', ' NY 10001'],
 ['988 Madison St', ' San Francisco', ' CA 94016'],
 ['949 10th St', ' Dallas', ' TX 75001'],
 ['534 Park St', ' Los Angeles', ' CA 90001'],
 ['171 Madison St', ' Portland', ' OR 97035'],
 ['124 Park St', ' San Francisco', ' CA 94016'],
 ['928 West St', ' Boston', ' MA 02215'],
 ['868 8th St', ' San Francisco', ' CA 94016'],
 ['532 Willow St', ' Atlanta', ' GA 30301'],
 ['186 14th St', ' Boston', ' MA 02215'],
 ['133 Highland St', ' Dallas', ' TX 75001'],
 ['433 14th St', ' Portland', ' OR 97035'],
 ['35 West St', ' Los Angeles', ' CA 90001'],
 ['469 Pine St', ' Austin', ' TX 73301'],
 ['615 Forest St', ' Atlanta', ' GA 30301'],
 ['507 1st St', ' San Francisco', ' CA 94016'],
 ['820 5th St', ' New York City', ' NY 10001'],
 ['465 Meadow St', ' Portland', ' OR 97035'],
 ['559 11th St', ' Atlanta', ' GA 30301'],
 ['34 14th St', ' San Francisco', ' CA 94016'],
 ['624 Adams St', ' Atlanta', ' GA 30301'],
 ['684 Maple St', ' San Francisco', ' CA 94016'],
 ['505 Maple St', ' New York City', ' NY 10001'],
 ['920 Washington St', ' Los Angeles', ' CA 90001'],
 ['627 Spruce St', ' Boston', ' MA 02215'],
 ['943 9th St', ' San Francisco', ' CA 94016'],
 ['838 Dogwood St', ' Los Angeles', ' CA 90001'],
 ['649 7th St', ' Dallas', ' TX 75001'],
 ['940 14th St', ' New York City', ' NY 10001'],
 ['878 4th St', ' San Francisco', ' CA 94016'],
 ['763 2nd St', ' Los Angeles', ' CA 90001'],
 ['297 12th St', ' Dallas', ' TX 75001'],
 ['509 4th St', ' Dallas', ' TX 75001'],
 ['479 Willow St', ' Los Angeles', ' CA 90001'],
 ['641 Lincoln St', ' Portland', ' OR 97035'],
 ['569 4th St', ' Atlanta', ' GA 30301'],
 ['749 North St', ' New York City', ' NY 10001'],
 ['476 1st St', ' Atlanta', ' GA 30301'],
 ['386 1st St', ' Dallas', ' TX 75001'],
 ['598 Meadow St', ' Boston', ' MA 02215'],
 ['524 6th St', ' New York City', ' NY 10001'],
 ['443 Maple St', ' New York City', ' NY 10001'],
 ['988 Maple St', ' Dallas', ' TX 75001'],
 ['711 1st St', ' San Francisco', ' CA 94016'],
 ['225 West St', ' Atlanta', ' GA 30301'],
 ['325 Park St', ' Portland', ' OR 97035'],
 ['395 Main St', ' Seattle', ' WA 98101'],
 ['372 Spruce St', ' Portland', ' OR 97035'],
 ['287 Cedar St', ' Boston', ' MA 02215'],
 ['816 1st St', ' San Francisco', ' CA 94016'],
 ['973 Lakeview St', ' San Francisco', ' CA 94016'],
 ['314 Ridge St', ' San Francisco', ' CA 94016'],
 ['993 6th St', ' San Francisco', ' CA 94016'],
 ['271 13th St', ' New York City', ' NY 10001'],
 ['784 Pine St', ' Austin', ' TX 73301'],
 ['24 Main St', ' Seattle', ' WA 98101'],
 ['68 Lake St', ' Los Angeles', ' CA 90001'],
 ['175 6th St', ' Los Angeles', ' CA 90001'],
 ['575 Wilson St', ' Portland', ' ME 04101'],
 ['171 Lakeview St', ' Seattle', ' WA 98101'],
 ['82 2nd St', ' Boston', ' MA 02215'],
 ['641 1st St', ' Austin', ' TX 73301'],
 ['902 Hickory St', ' Los Angeles', ' CA 90001'],
 ['592 Elm St', ' Portland', ' OR 97035'],
 ['975 Elm St', ' San Francisco', ' CA 94016'],
 ['709 Church St', ' New York City', ' NY 10001'],
 ['77 Highland St', ' Atlanta', ' GA 30301'],
 ['101 Lincoln St', ' Atlanta', ' GA 30301'],
 ['101 Lincoln St', ' Atlanta', ' GA 30301'],
 ['490 River St', ' San Francisco', ' CA 94016'],
 ['691 Cherry St', ' Dallas', ' TX 75001'],
 ['471 Lincoln St', ' Los Angeles', ' CA 90001'],
 ['868 6th St', ' San Francisco', ' CA 94016'],
 ['743 2nd St', ' New York City', ' NY 10001'],
 ['977 Johnson St', ' San Francisco', ' CA 94016'],
 ['988 Pine St', ' Portland', ' OR 97035'],
 ['921 4th St', ' San Francisco', ' CA 94016'],
 ['400 Johnson St', ' Dallas', ' TX 75001'],
 ['794 Wilson St', ' Los Angeles', ' CA 90001'],
 ['216 Main St', ' Los Angeles', ' CA 90001'],
 ['168 Washington St', ' New York City', ' NY 10001'],
 ['357 8th St', ' San Francisco', ' CA 94016'],
 ['981 Chestnut St', ' Portland', ' OR 97035'],
 ['516 Park St', ' San Francisco', ' CA 94016'],
 ['280 Spruce St', ' Austin', ' TX 73301'],
 ['354 Dogwood St', ' Atlanta', ' GA 30301'],
 ['119 11th St', ' Los Angeles', ' CA 90001'],
 ['468 12th St', ' Boston', ' MA 02215'],
 ['696 Adams St', ' Los Angeles', ' CA 90001'],
 ['425 13th St', ' Austin', ' TX 73301'],
 ['550 Lake St', ' San Francisco', ' CA 94016'],
 ['720 Dogwood St', ' San Francisco', ' CA 94016'],
 ['619 7th St', ' Austin', ' TX 73301'],
 ['177 8th St', ' Los Angeles', ' CA 90001'],
 ['534 Johnson St', ' Portland', ' OR 97035'],
 ['238 5th St', ' San Francisco', ' CA 94016'],
 ['359 Jefferson St', ' San Francisco', ' CA 94016'],
 ['2 Hill St', ' San Francisco', ' CA 94016'],
 ['968 2nd St', ' Austin', ' TX 73301'],
 ['930 North St', ' Atlanta', ' GA 30301'],
 ['126 8th St', ' Atlanta', ' GA 30301'],
 ['399 Spruce St', ' Seattle', ' WA 98101'],
 ['587 Adams St', ' San Francisco', ' CA 94016'],
 ['362 Highland St', ' Seattle', ' WA 98101'],
 ['550 7th St', ' New York City', ' NY 10001'],
 ['944 Hickory St', ' Los Angeles', ' CA 90001'],
 ['275 Forest St', ' San Francisco', ' CA 94016'],
 ['626 12th St', ' Los Angeles', ' CA 90001'],
 ['324 Lake St', ' Los Angeles', ' CA 90001'],
 ['445 11th St', ' Boston', ' MA 02215'],
 ['531 Johnson St', ' Austin', ' TX 73301'],
 ['325 Jefferson St', ' Los Angeles', ' CA 90001'],
 ['859 Center St', ' San Francisco', ' CA 94016'],
 ['820 West St', ' Boston', ' MA 02215'],
 ['194 Hill St', ' Portland', ' OR 97035'],
 ['792 9th St', ' Boston', ' MA 02215'],
 ['838 Center St', ' San Francisco', ' CA 94016'],
 ['258 Hickory St', ' Seattle', ' WA 98101'],
 ['559 Walnut St', ' San Francisco', ' CA 94016'],
 ['85 6th St', ' Boston', ' MA 02215'],
 ['65 Elm St', ' San Francisco', ' CA 94016'],
 ['371 9th St', ' New York City', ' NY 10001'],
 ['208 1st St', ' San Francisco', ' CA 94016'],
 ['800 River St', ' Los Angeles', ' CA 90001'],
 ['316 Sunset St', ' Dallas', ' TX 75001'],
 ['330 Lake St', ' Boston', ' MA 02215'],
 ['448 Jefferson St', ' Dallas', ' TX 75001'],
 ['194 12th St', ' San Francisco', ' CA 94016'],
 ['256 Washington St', ' Portland', ' ME 04101'],
 ['889 Sunset St', ' Boston', ' MA 02215'],
 ['803 Pine St', ' Los Angeles', ' CA 90001'],
 ['592 Jackson St', ' San Francisco', ' CA 94016'],
 ['880 Jackson St', ' New York City', ' NY 10001'],
 ['36 6th St', ' Atlanta', ' GA 30301'],
 ['714 Lincoln St', ' San Francisco', ' CA 94016'],
 ['653 Maple St', ' San Francisco', ' CA 94016'],
 ['127 5th St', ' San Francisco', ' CA 94016'],
 ['712 Park St', ' Seattle', ' WA 98101'],
 ['362 Chestnut St', ' Portland', ' OR 97035'],
 ['557 Dogwood St', ' San Francisco', ' CA 94016'],
 ['554 Dogwood St', ' Dallas', ' TX 75001'],
 ['479 2nd St', ' Los Angeles', ' CA 90001'],
 ['445 Wilson St', ' San Francisco', ' CA 94016'],
 ['572 Elm St', ' Boston', ' MA 02215'],
 ['746 Lincoln St', ' Los Angeles', ' CA 90001'],
 ['6 Lake St', ' Los Angeles', ' CA 90001'],
 ['669 7th St', ' San Francisco', ' CA 94016'],
 ['777 Ridge St', ' Atlanta', ' GA 30301'],
 ['255 5th St', ' Portland', ' OR 97035'],
 ['255 5th St', ' Portland', ' OR 97035'],
 ['860 Washington St', ' Atlanta', ' GA 30301'],
 ['199 7th St', ' San Francisco', ' CA 94016'],
 ['144 Maple St', ' Austin', ' TX 73301'],
 ['710 Washington St', ' Atlanta', ' GA 30301'],
 ['710 Washington St', ' Atlanta', ' GA 30301'],
 ['978 Walnut St', ' Atlanta', ' GA 30301'],
 ['149 Pine St', ' San Francisco', ' CA 94016'],
 ['655 1st St', ' Los Angeles', ' CA 90001'],
 ['937 10th St', ' Portland', ' OR 97035'],
 ['305 Cherry St', ' New York City', ' NY 10001'],
 ['273 Madison St', ' New York City', ' NY 10001'],
 ['636 West St', ' New York City', ' NY 10001'],
 ['333 13th St', ' Los Angeles', ' CA 90001'],
 ['697 West St', ' San Francisco', ' CA 94016'],
 ['65 Hill St', ' San Francisco', ' CA 94016'],
 ['488 Johnson St', ' Dallas', ' TX 75001'],
 ['711 Ridge St', ' New York City', ' NY 10001'],
 ['549 5th St', ' Boston', ' MA 02215'],
 ['237 Maple St', ' Seattle', ' WA 98101'],
 ['584 Meadow St', ' San Francisco', ' CA 94016'],
 ['861 Walnut St', ' Portland', ' OR 97035'],
 ['569 River St', ' Los Angeles', ' CA 90001'],
 ['883 Church St', ' Austin', ' TX 73301'],
 ['690 West St', ' Seattle', ' WA 98101'],
 ['890 7th St', ' San Francisco', ' CA 94016'],
 ['405 Pine St', ' Seattle', ' WA 98101'],
 ['503 Dogwood St', ' New York City', ' NY 10001'],
 ['661 Ridge St', ' New York City', ' NY 10001'],
 ['240 Sunset St', ' Boston', ' MA 02215'],
 ['971 Madison St', ' San Francisco', ' CA 94016'],
 ['945 Lincoln St', ' Austin', ' TX 73301'],
 ['98 Wilson St', ' Los Angeles', ' CA 90001'],
 ['831 Madison St', ' Los Angeles', ' CA 90001'],
 ['2 Lake St', ' Boston', ' MA 02215'],
 ['143 Willow St', ' Boston', ' MA 02215'],
 ['227 Forest St', ' New York City', ' NY 10001'],
 ['236 Madison St', ' Dallas', ' TX 75001'],
 ['396 Walnut St', ' Portland', ' OR 97035'],
 ['201 Lake St', ' Boston', ' MA 02215'],
 ['551 Madison St', ' San Francisco', ' CA 94016'],
 ['338 Meadow St', ' Portland', ' OR 97035'],
 ['197 11th St', ' San Francisco', ' CA 94016'],
 ['444 Lincoln St', ' Boston', ' MA 02215'],
 ['462 Meadow St', ' Boston', ' MA 02215'],
 ['430 Wilson St', ' New York City', ' NY 10001'],
 ['475 Sunset St', ' Los Angeles', ' CA 90001'],
 ['90 Hickory St', ' Atlanta', ' GA 30301'],
 ['114 Lincoln St', ' Dallas', ' TX 75001'],
 ['902 Maple St', ' New York City', ' NY 10001'],
 ['518 Chestnut St', ' Los Angeles', ' CA 90001'],
 ['343 Adams St', ' Dallas', ' TX 75001'],
 ['505 Cherry St', ' Seattle', ' WA 98101'],
 ['187 8th St', ' San Francisco', ' CA 94016'],
 ['437 Lakeview St', ' Seattle', ' WA 98101'],
 ['682 Madison St', ' San Francisco', ' CA 94016'],
 ['688 Lincoln St', ' Dallas', ' TX 75001'],
 ['135 14th St', ' Austin', ' TX 73301'],
 ['734 Highland St', ' Los Angeles', ' CA 90001'],
 ['172 Highland St', ' Atlanta', ' GA 30301'],
 ['72 Lake St', ' New York City', ' NY 10001'],
 ['28 13th St', ' San Francisco', ' CA 94016'],
 ['994 Walnut St', ' Atlanta', ' GA 30301'],
 ['40 11th St', ' Portland', ' OR 97035'],
 ['40 11th St', ' Portland', ' OR 97035'],
 ['591 8th St', ' Dallas', ' TX 75001'],
 ['322 11th St', ' San Francisco', ' CA 94016'],
 ['948 Maple St', ' Boston', ' MA 02215'],
 ['358 Park St', ' Austin', ' TX 73301'],
 ['715 11th St', ' Los Angeles', ' CA 90001'],
 ['936 Maple St', ' Los Angeles', ' CA 90001'],
 ['847 9th St', ' Los Angeles', ' CA 90001'],
 ['106 North St', ' Atlanta', ' GA 30301'],
 ['445 Highland St', ' Atlanta', ' GA 30301'],
 ['735 Church St', ' Atlanta', ' GA 30301'],
 ['52 9th St', ' New York City', ' NY 10001'],
 ['896 Lakeview St', ' Los Angeles', ' CA 90001'],
 ['601 Center St', ' Portland', ' OR 97035'],
 ['285 1st St', ' Boston', ' MA 02215'],
 ['83 Lincoln St', ' Los Angeles', ' CA 90001'],
 ['566 South St', ' New York City', ' NY 10001'],
 ['283 Lakeview St', ' Atlanta', ' GA 30301'],
 ['993 Hickory St', ' Seattle', ' WA 98101'],
 ['295 Sunset St', ' San Francisco', ' CA 94016'],
 ['479 4th St', ' Dallas', ' TX 75001'],
 ['178 Dogwood St', ' Portland', ' OR 97035'],
 ['252 Johnson St', ' San Francisco', ' CA 94016'],
 ['502 Hill St', ' Los Angeles', ' CA 90001'],
 ['650 Johnson St', ' Boston', ' MA 02215'],
 ['969 Forest St', ' Dallas', ' TX 75001'],
 ['240 Lincoln St', ' Seattle', ' WA 98101'],
 ['202 4th St', ' Atlanta', ' GA 30301'],
 ['922 Ridge St', ' Boston', ' MA 02215'],
 ['246 Lake St', ' San Francisco', ' CA 94016'],
 ['704 8th St', ' Atlanta', ' GA 30301'],
 ['517 Adams St', ' Seattle', ' WA 98101'],
 ['139 Pine St', ' San Francisco', ' CA 94016'],
 ['828 Pine St', ' San Francisco', ' CA 94016'],
 ['737 Jackson St', ' San Francisco', ' CA 94016'],
 ['83 Sunset St', ' Austin', ' TX 73301'],
 ['970 Lincoln St', ' San Francisco', ' CA 94016'],
 ['229 Sunset St', ' Austin', ' TX 73301'],
 ['711 1st St', ' Los Angeles', ' CA 90001'],
 ['809 Washington St', ' Portland', ' OR 97035'],
 ['370 1st St', ' Los Angeles', ' CA 90001'],
 ['165 Highland St', ' Austin', ' TX 73301'],
 ['869 Johnson St', ' San Francisco', ' CA 94016'],
 ['977 Ridge St', ' Los Angeles', ' CA 90001'],
 ['110 Dogwood St', ' New York City', ' NY 10001'],
 ['10 Center St', ' Los Angeles', ' CA 90001'],
 ['963 Lakeview St', ' Los Angeles', ' CA 90001'],
 ['963 Lakeview St', ' Los Angeles', ' CA 90001'],
 ['464 6th St', ' San Francisco', ' CA 94016'],
 ['274 5th St', ' New York City', ' NY 10001'],
 ['740 Adams St', ' San Francisco', ' CA 94016'],
 ['302 Jefferson St', ' Boston', ' MA 02215'],
 ['82 Cherry St', ' Austin', ' TX 73301'],
 ['832 Hill St', ' San Francisco', ' CA 94016'],
 ['916 9th St', ' San Francisco', ' CA 94016'],
 ['466 Ridge St', ' Atlanta', ' GA 30301'],
 ['912 Meadow St', ' San Francisco', ' CA 94016'],
 ['789 Johnson St', ' Los Angeles', ' CA 90001'],
 ['780 Lake St', ' New York City', ' NY 10001'],
 ['620 Highland St', ' Dallas', ' TX 75001'],
 ['282 Elm St', ' Los Angeles', ' CA 90001'],
 ['946 Johnson St', ' Los Angeles', ' CA 90001'],
 ['498 Park St', ' Dallas', ' TX 75001'],
 ['212 Wilson St', ' Los Angeles', ' CA 90001'],
 ['175 Sunset St', ' Los Angeles', ' CA 90001'],
 ['318 Church St', ' San Francisco', ' CA 94016'],
 ['318 Church St', ' San Francisco', ' CA 94016'],
 ['726 Meadow St', ' San Francisco', ' CA 94016'],
 ['391 Highland St', ' San Francisco', ' CA 94016'],
 ['436 West St', ' Atlanta', ' GA 30301'],
 ['436 West St', ' Atlanta', ' GA 30301'],
 ['63 Forest St', ' Dallas', ' TX 75001'],
 ['719 Cedar St', ' San Francisco', ' CA 94016'],
 ['294 Johnson St', ' Los Angeles', ' CA 90001'],
 ['897 Walnut St', ' Austin', ' TX 73301'],
 ['809 Spruce St', ' San Francisco', ' CA 94016'],
 ['617 8th St', ' New York City', ' NY 10001'],
 ['230 9th St', ' Dallas', ' TX 75001'],
 ['572 Jefferson St', ' San Francisco', ' CA 94016'],
 ['774 West St', ' San Francisco', ' CA 94016'],
 ['154 Johnson St', ' Boston', ' MA 02215'],
 ['333 Elm St', ' Boston', ' MA 02215'],
 ['333 Elm St', ' Boston', ' MA 02215'],
 ['300 Elm St', ' Los Angeles', ' CA 90001'],
 ['244 11th St', ' San Francisco', ' CA 94016'],
 ['439 Johnson St', ' San Francisco', ' CA 94016'],
 ['634 Church St', ' Los Angeles', ' CA 90001'],
 ['322 Main St', ' San Francisco', ' CA 94016'],
 ['706 Sunset St', ' New York City', ' NY 10001'],
 ['953 Ridge St', ' San Francisco', ' CA 94016'],
 ['934 North St', ' Seattle', ' WA 98101'],
 ['771 Chestnut St', ' Portland', ' OR 97035'],
 ['944 Meadow St', ' Los Angeles', ' CA 90001'],
 ['74 Lincoln St', ' Los Angeles', ' CA 90001'],
 ['336 4th St', ' Los Angeles', ' CA 90001'],
 ['429 10th St', ' Dallas', ' TX 75001'],
 ['454 9th St', ' San Francisco', ' CA 94016'],
 ['145 Hill St', ' San Francisco', ' CA 94016'],
 ['361 Meadow St', ' Los Angeles', ' CA 90001'],
 ['800 8th St', ' Austin', ' TX 73301'],
 ['578 7th St', ' Los Angeles', ' CA 90001'],
 ['357 4th St', ' San Francisco', ' CA 94016'],
 ['51 Chestnut St', ' Los Angeles', ' CA 90001'],
 ['785 Forest St', ' New York City', ' NY 10001'],
 ['866 4th St', ' Los Angeles', ' CA 90001'],
 ['433 Lake St', ' Los Angeles', ' CA 90001'],
 ['676 Cedar St', ' Austin', ' TX 73301'],
 ['268 Washington St', ' New York City', ' NY 10001'],
 ['268 Washington St', ' New York City', ' NY 10001'],
 ['610 Main St', ' Los Angeles', ' CA 90001'],
 ['788 1st St', ' Portland', ' OR 97035'],
 ['235 1st St', ' San Francisco', ' CA 94016'],
 ['345 Spruce St', ' Los Angeles', ' CA 90001'],
 ['248 River St', ' Atlanta', ' GA 30301'],
 ['676 River St', ' Dallas', ' TX 75001'],
 ['18 Dogwood St', ' San Francisco', ' CA 94016'],
 ['344 Highland St', ' Los Angeles', ' CA 90001'],
 ['228 Forest St', ' Seattle', ' WA 98101'],
 ['465 Madison St', ' San Francisco', ' CA 94016'],
 ['465 Madison St', ' San Francisco', ' CA 94016'],
 ['702 1st St', ' Atlanta', ' GA 30301'],
 ['855 2nd St', ' Los Angeles', ' CA 90001'],
 ['500 12th St', ' Portland', ' ME 04101'],
 ['436 Walnut St', ' San Francisco', ' CA 94016'],
 ['190 West St', ' Seattle', ' WA 98101'],
 ['596 Park St', ' Atlanta', ' GA 30301'],
 ['64 1st St', ' Los Angeles', ' CA 90001'],
 ['586 Highland St', ' Austin', ' TX 73301'],
 ['261 West St', ' Atlanta', ' GA 30301'],
 ['772 Spruce St', ' Boston', ' MA 02215'],
 ['834 Ridge St', ' New York City', ' NY 10001'],
 ['285 12th St', ' Los Angeles', ' CA 90001'],
 ['924 Jefferson St', ' Portland', ' OR 97035'],
 ['895 Washington St', ' Boston', ' MA 02215'],

In [54]:
z=[]
for i in y:
    z.append(i[-2])
z

[' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Seattle',
 ' San Francisco',
 ' Seattle',
 ' Los Angeles',
 ' New York City',
 ' Portland',
 ' Los Angeles',
 ' New York City',
 ' Boston',
 ' San Francisco',
 ' Boston',
 ' Boston',
 ' Dallas',
 ' Dallas',
 ' Seattle',
 ' Seattle',
 ' San Francisco',
 ' Atlanta',
 ' Boston',
 ' Austin',
 ' Los Angeles',
 ' Austin',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' Dallas',
 ' Dallas',
 ' San Francisco',
 ' Atlanta',
 ' Seattle',
 ' Los Angeles',
 ' Los Angeles',
 ' Atlanta',
 ' Dallas',
 ' Dallas',
 ' Austin',
 ' Austin',
 ' New York City',
 ' Boston',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Dallas',
 ' Los Angeles',
 ' Seattle',
 ' Dallas',
 ' New York City',
 ' Austin',
 ' New York City',
 ' New York City',
 ' Atlanta',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' Los Angeles',
 ' New York City',
 ' Seattle',
 ' Seattle',
 ' Portland',
 ' New York City',
 ' Los Angeles',
 ' San Francisco',
 ' Los Angeles',
 ' Austin',
 ' Boston',
 ' Boston',
 ' Dallas',
 ' Boston',
 ' Austin',
 ' Austin',
 ' New York City',
 ' San Francisco',
 ' Dallas',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Boston',
 ' San Francisco',
 ' Atlanta',
 ' Boston',
 ' Dallas',
 ' Portland',
 ' Los Angeles',
 ' Austin',
 ' Atlanta',
 ' San Francisco',
 ' New York City',
 ' Portland',
 ' Atlanta',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' New York City',
 ' Los Angeles',
 ' Boston',
 ' San Francisco',
 ' Los Angeles',
 ' Dallas',
 ' New York City',
 ' San Francisco',
 ' Los Angeles',
 ' Dallas',
 ' Dallas',
 ' Los Angeles',
 ' Portland',
 ' Atlanta',
 ' New York City',
 ' Atlanta',
 ' Dallas',
 ' Boston',
 ' New York City',
 ' New York City',
 ' Dallas',
 ' San Francisco',
 ' Atlanta',
 ' Portland',
 ' Seattle',
 ' Portland',
 ' Boston',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' New York City',
 ' Austin',
 ' Seattle',
 ' Los Angeles',
 ' Los Angeles',
 ' Portland',
 ' Seattle',
 ' Boston',
 ' Austin',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' New York City',
 ' Atlanta',
 ' Atlanta',
 ' Atlanta',
 ' San Francisco',
 ' Dallas',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Portland',
 ' San Francisco',
 ' Dallas',
 ' Los Angeles',
 ' Los Angeles',
 ' New York City',
 ' San Francisco',
 ' Portland',
 ' San Francisco',
 ' Austin',
 ' Atlanta',
 ' Los Angeles',
 ' Boston',
 ' Los Angeles',
 ' Austin',
 ' San Francisco',
 ' San Francisco',
 ' Austin',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Austin',
 ' Atlanta',
 ' Atlanta',
 ' Seattle',
 ' San Francisco',
 ' Seattle',
 ' New York City',
 ' Los Angeles',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' Boston',
 ' Austin',
 ' Los Angeles',
 ' San Francisco',
 ' Boston',
 ' Portland',
 ' Boston',
 ' San Francisco',
 ' Seattle',
 ' San Francisco',
 ' Boston',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Los Angeles',
 ' Dallas',
 ' Boston',
 ' Dallas',
 ' San Francisco',
 ' Portland',
 ' Boston',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Seattle',
 ' Portland',
 ' San Francisco',
 ' Dallas',
 ' Los Angeles',
 ' San Francisco',
 ' Boston',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' Atlanta',
 ' Portland',
 ' Portland',
 ' Atlanta',
 ' San Francisco',
 ' Austin',
 ' Atlanta',
 ' Atlanta',
 ' Atlanta',
 ' San Francisco',
 ' Los Angeles',
 ' Portland',
 ' New York City',
 ' New York City',
 ' New York City',
 ' Los Angeles',
 ' San Francisco',
 ' San Francisco',
 ' Dallas',
 ' New York City',
 ' Boston',
 ' Seattle',
 ' San Francisco',
 ' Portland',
 ' Los Angeles',
 ' Austin',
 ' Seattle',
 ' San Francisco',
 ' Seattle',
 ' New York City',
 ' New York City',
 ' Boston',
 ' San Francisco',
 ' Austin',
 ' Los Angeles',
 ' Los Angeles',
 ' Boston',
 ' Boston',
 ' New York City',
 ' Dallas',
 ' Portland',
 ' Boston',
 ' San Francisco',
 ' Portland',
 ' San Francisco',
 ' Boston',
 ' Boston',
 ' New York City',
 ' Los Angeles',
 ' Atlanta',
 ' Dallas',
 ' New York City',
 ' Los Angeles',
 ' Dallas',
 ' Seattle',
 ' San Francisco',
 ' Seattle',
 ' San Francisco',
 ' Dallas',
 ' Austin',
 ' Los Angeles',
 ' Atlanta',
 ' New York City',
 ' San Francisco',
 ' Atlanta',
 ' Portland',
 ' Portland',
 ' Dallas',
 ' San Francisco',
 ' Boston',
 ' Austin',
 ' Los Angeles',
 ' Los Angeles',
 ' Los Angeles',
 ' Atlanta',
 ' Atlanta',
 ' Atlanta',
 ' New York City',
 ' Los Angeles',
 ' Portland',
 ' Boston',
 ' Los Angeles',
 ' New York City',
 ' Atlanta',
 ' Seattle',
 ' San Francisco',
 ' Dallas',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Boston',
 ' Dallas',
 ' Seattle',
 ' Atlanta',
 ' Boston',
 ' San Francisco',
 ' Atlanta',
 ' Seattle',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Austin',
 ' San Francisco',
 ' Austin',
 ' Los Angeles',
 ' Portland',
 ' Los Angeles',
 ' Austin',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' Los Angeles',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Boston',
 ' Austin',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' Dallas',
 ' Los Angeles',
 ' Los Angeles',
 ' Dallas',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' Atlanta',
 ' Dallas',
 ' San Francisco',
 ' Los Angeles',
 ' Austin',
 ' San Francisco',
 ' New York City',
 ' Dallas',
 ' San Francisco',
 ' San Francisco',
 ' Boston',
 ' Boston',
 ' Boston',
 ' Los Angeles',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Seattle',
 ' Portland',
 ' Los Angeles',
 ' Los Angeles',
 ' Los Angeles',
 ' Dallas',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' Austin',
 ' Los Angeles',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' Los Angeles',
 ' Los Angeles',
 ' Austin',
 ' New York City',
 ' New York City',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Atlanta',
 ' Dallas',
 ' San Francisco',
 ' Los Angeles',
 ' Seattle',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Seattle',
 ' Atlanta',
 ' Los Angeles',
 ' Austin',
 ' Atlanta',
 ' Boston',
 ' New York City',
 ' Los Angeles',
 ' Portland',
 ' Boston',
 ' San Francisco',
 ' Seattle',
 ' Austin',
 ' Boston',
 ' San Francisco',
 ' Boston',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Austin',
 ' Los Angeles',
 ' Dallas',
 ' Dallas',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Dallas',
 ' New York City',
 ' Boston',
 ' Austin',
 ' San Francisco',
 ' Portland',
 ' New York City',
 ' Boston',
 ' Atlanta',
 ' Los Angeles',
 ' New York City',
 ' San Francisco',
 ' Dallas',
 ' Dallas',
 ' Austin',
 ' Seattle',
 ' San Francisco',
 ' Boston',
 ' Austin',
 ' Seattle',
 ' Seattle',
 ' Boston',
 ' San Francisco',
 ' New York City',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' Dallas',
 ' San Francisco',
 ' Seattle',
 ' San Francisco',
 ' Seattle',
 ' San Francisco',
 ' New York City',
 ' New York City',
 ' Dallas',
 ' San Francisco',
 ' Seattle',
 ' New York City',
 ' Los Angeles',
 ' New York City',
 ' New York City',
 ' Atlanta',
 ' Seattle',
 ' Seattle',
 ' San Francisco',
 ' Los Angeles',
 ' Seattle',
 ' San Francisco',
 ' New York City',
 ' New York City',
 ' Atlanta',
 ' New York City',
 ' Atlanta',
 ' Boston',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' New York City',
 ' Boston',
 ' Austin',
 ' Atlanta',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' New York City',
 ' Atlanta',
 ' Portland',
 ' Boston',
 ' San Francisco',
 ' Dallas',
 ' Portland',
 ' Seattle',
 ' Seattle',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Seattle',
 ' Los Angeles',
 ' Dallas',
 ' Seattle',
 ' Atlanta',
 ' Los Angeles',
 ' Los Angeles',
 ' New York City',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' Boston',
 ' Los Angeles',
 ' Seattle',
 ' New York City',
 ' San Francisco',
 ' Seattle',
 ' Los Angeles',
 ' Atlanta',
 ' New York City',
 ' San Francisco',
 ' Dallas',
 ' Seattle',
 ' Los Angeles',
 ' Los Angeles',
 ' New York City',
 ' New York City',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Austin',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' New York City',
 ' Boston',
 ' Dallas',
 ' San Francisco',
 ' Portland',
 ' Atlanta',
 ' Atlanta',
 ' Boston',
 ' San Francisco',
 ' Los Angeles',
 ' Seattle',
 ' Seattle',
 ' Boston',
 ' San Francisco',
 ' Austin',
 ' Austin',
 ' New York City',
 ' New York City',
 ' Atlanta',
 ' Portland',
 ' Seattle',
 ' Los Angeles',
 ' Portland',
 ' Portland',
 ' Dallas',
 ' Dallas',
 ' Seattle',
 ' Portland',
 ' New York City',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' Los Angeles',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' Seattle',
 ' Portland',
 ' Portland',
 ' Dallas',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Boston',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' Portland',
 ' San Francisco',
 ' Dallas',
 ' New York City',
 ' Los Angeles',
 ' New York City',
 ' Atlanta',
 ' Boston',
 ' Dallas',
 ' San Francisco',
 ' Austin',
 ' Seattle',
 ' Atlanta',
 ' New York City',
 ' Los Angeles',
 ' San Francisco',
 ' Atlanta',
 ' Seattle',
 ' New York City',
 ' Portland',
 ' Atlanta',
 ' Austin',
 ' Portland',
 ' Dallas',
 ' Austin',
 ' Los Angeles',
 ' New York City',
 ' Seattle',
 ' New York City',
 ' San Francisco',
 ' Atlanta',
 ' Atlanta',
 ' Boston',
 ' Seattle',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Boston',
 ' San Francisco',
 ' Atlanta',
 ' New York City',
 ' San Francisco',
 ' Boston',
 ' Boston',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' Portland',
 ' Portland',
 ' Boston',
 ' Boston',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' New York City',
 ' Austin',
 ' Austin',
 ' San Francisco',
 ' Seattle',
 ' Dallas',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' San Francisco',
 ' Seattle',
 ' Austin',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' New York City',
 ' San Francisco',
 ' Seattle',
 ' Boston',
 ' Portland',
 ' New York City',
 ' New York City',
 ' New York City',
 ' San Francisco',
 ' Dallas',
 ' Atlanta',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' New York City',
 ' San Francisco',
 ' Dallas',
 ' Boston',
 ' New York City',
 ' San Francisco',
 ' New York City',
 ' Los Angeles',
 ' Dallas',
 ' Portland',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' San Francisco',
 ' Portland',
 ' Dallas',
 ' Seattle',
 ' San Francisco',
 ' Portland',
 ' Los Angeles',
 ' Austin',
 ' New York City',
 ' Dallas',
 ' Seattle',
 ' Atlanta',
 ' Portland',
 ' Seattle',
 ' Dallas',
 ' Seattle',
 ' San Francisco',
 ' Boston',
 ' Seattle',
 ' Los Angeles',
 ' San Francisco',
 ' Boston',
 ' New York City',
 ' Portland',
 ' Austin',
 ' Atlanta',
 ' Los Angeles',
 ' San Francisco',
 ' Portland',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Atlanta',
 ' Dallas',
 ' Atlanta',
 ' Atlanta',
 ' San Francisco',
 ' Boston',
 ' Los Angeles',
 ' Los Angeles',
 ' San Francisco',
 ' Boston',
 ' New York City',
 ' Boston',
 ' New York City',
 ' San Francisco',
 ' Boston',
 ' Boston',
 ' San Francisco',
 ' Portland',
 ' Los Angeles',
 ' New York City',
 ' Los Angeles',
 ' Seattle',
 ' Boston',
 ' Los Angeles',
 ' Atlanta',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' Portland',
 ' Portland',
 ' Boston',
 ' San Francisco',
 ' San Francisco',
 ' Seattle',
 ' Seattle',
 ' Los Angeles',
 ' Atlanta',
 ' Boston',
 ' Dallas',
 ' Boston',
 ' Seattle',
 ' Atlanta',
 ' Atlanta',
 ' Boston',
 ' Los Angeles',
 ' Atlanta',
 ' Dallas',
 ' Atlanta',
 ' Boston',
 ' Los Angeles',
 ' Dallas',
 ' San Francisco',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' Los Angeles',
 ' New York City',
 ' Boston',
 ' San Francisco',
 ' Portland',
 ' Portland',
 ' San Francisco',
 ' San Francisco',
 ' Austin',
 ' Austin',
 ' San Francisco',
 ' Dallas',
 ' New York City',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Portland',
 ' Los Angeles',
 ' Boston',
 ' New York City',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' Dallas',
 ' New York City',
 ' San Francisco',
 ' Portland',
 ' Los Angeles',
 ' San Francisco',
 ' Dallas',
 ' New York City',
 ' Atlanta',
 ' New York City',
 ' Boston',
 ' New York City',
 ' Austin',
 ' Seattle',
 ' Boston',
 ' Los Angeles',
 ' Los Angeles',
 ' Atlanta',
 ' New York City',
 ' Boston',
 ' San Francisco',
 ' Seattle',
 ' San Francisco',
 ' San Francisco',
 ' Portland',
 ' New York City',
 ' Los Angeles',
 ' Los Angeles',
 ' Los Angeles',
 ' Atlanta',
 ' New York City',
 ' New York City',
 ' Los Angeles',
 ' Atlanta',
 ' Austin',
 ' Boston',
 ' Atlanta',
 ' Los Angeles',
 ' Dallas',
 ' Austin',
 ' Atlanta',
 ' New York City',
 ' Boston',
 ' Atlanta',
 ' Los Angeles',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Seattle',
 ' Seattle',
 ' New York City',
 ' San Francisco',
 ' Seattle',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' New York City',
 ' Portland',
 ' Seattle',
 ' New York City',
 ' San Francisco',
 ' Portland',
 ' Atlanta',
 ' Boston',
 ' Austin',
 ' New York City',
 ' New York City',
 ' San Francisco',
 ' Los Angeles',
 ' New York City',
 ' Boston',
 ' Los Angeles',
 ' Dallas',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Seattle',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Dallas',
 ' Portland',
 ' San Francisco',
 ' Seattle',
 ' Boston',
 ' San Francisco',
 ' Los Angeles',
 ' Seattle',
 ' Atlanta',
 ' Atlanta',
 ' Atlanta',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' New York City',
 ' Atlanta',
 ' San Francisco',
 ' New York City',
 ' Los Angeles',
 ' Boston',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' San Francisco',
 ' Dallas',
 ' Boston',
 ' Los Angeles',
 ' San Francisco',
 ' New York City',
 ' New York City',
 ' New York City',
 ' New York City',
 ' Portland',
 ' Los Angeles',
 ' New York City',
 ' Portland',
 ' Dallas',
 ' New York City',
 ' Boston',
 ' San Francisco',
 ' Atlanta',
 ' San Francisco',
 ' Atlanta',
 ' Dallas',
 ' Atlanta',
 ' Boston',
 ' Seattle',
 ' Boston',
 ' San Francisco',
 ' Boston',
 ' San Francisco',
 ' San Francisco',
 ' New York City',
 ' Atlanta',
 ' San Francisco',
 ' Los Angeles',
 ' Los Angeles',
 ' Portland',
 ' San Francisco',
 ' Los Angeles',
 ' Atlanta',
 ' San Francisco',
 ' San Francisco',
 ' Seattle',
 ' Portland',
 ' Boston',
 ' New York City',
 ' New York City',
 ' Los Angeles',
 ' New York City',
 ' Los Angeles',
 ' Austin',
 ' Los Angeles',
 ' Dallas',
 ' San Francisco',
 ' Los Angeles',
 ...]

In [55]:
sale2['City']=z

In [56]:
sale2.groupby('City')["Quantity Ordered"].sum().sort_values(ascending=False).head(1)

City
 San Francisco    10462
Name: Quantity Ordered, dtype: int64

### 7. At what time people mostly purchase the product?

In [57]:
o=[]
for i in l:
    o.append(i[2][3:8])
o

['19:34',
 '10:05',
 '20:18',
 '10:21',
 '18:58',
 '20:04',
 '00:07',
 '21:30',
 '10:56',
 '11:22',
 '13:55',
 '14:36',
 '15:39',
 '20:53',
 '11:13',
 '12:21',
 '18:01',
 '12:29',
 '12:29',
 '16:55',
 '15:24',
 '11:18',
 '13:52',
 '16:19',
 '19:10',
 '08:53',
 '22:13',
 '22:41',
 '01:48',
 '07:45',
 '07:45',
 '18:03',
 '13:04',
 '17:48',
 '16:59',
 '07:21',
 '21:25',
 '15:23',
 '12:23',
 '12:09',
 '15:48',
 '11:53',
 '11:53',
 '23:00',
 '23:00',
 '10:58',
 '18:58',
 '14:30',
 '14:00',
 '09:46',
 '21:18',
 '13:06',
 '15:55',
 '20:58',
 '15:11',
 '17:09',
 '12:20',
 '10:06',
 '21:25',
 '11:52',
 '06:28',
 '13:50',
 '09:42',
 '20:28',
 '19:25',
 '19:31',
 '16:25',
 '06:50',
 '22:18',
 '16:49',
 '03:22',
 '18:04',
 '23:34',
 '20:31',
 '19:00',
 '07:51',
 '18:14',
 '21:01',
 '19:16',
 '08:21',
 '11:23',
 '23:15',
 '08:37',
 '19:17',
 '12:47',
 '13:28',
 '15:09',
 '14:40',
 '19:53',
 '19:02',
 '09:06',
 '00:07',
 '09:24',
 '10:56',
 '15:10',
 '17:21',
 '17:27',
 '17:08',
 '18:12',
 '22:17',
 '17:03',
 '15:01',
 '17:10',
 '15:02',
 '23:22',
 '08:19',
 '21:24',
 '20:21',
 '16:59',
 '13:42',
 '14:35',
 '18:24',
 '15:21',
 '09:11',
 '11:01',
 '11:59',
 '18:25',
 '18:07',
 '14:02',
 '19:05',
 '09:53',
 '14:49',
 '09:08',
 '14:30',
 '21:31',
 '06:28',
 '23:20',
 '00:28',
 '19:58',
 '11:08',
 '18:53',
 '07:41',
 '18:20',
 '11:24',
 '16:15',
 '14:01',
 '11:55',
 '18:26',
 '20:00',
 '00:13',
 '09:23',
 '14:17',
 '18:50',
 '20:24',
 '23:36',
 '14:37',
 '23:19',
 '20:39',
 '20:39',
 '15:11',
 '12:07',
 '15:47',
 '16:40',
 '06:26',
 '17:05',
 '17:31',
 '16:07',
 '17:21',
 '10:06',
 '14:29',
 '22:58',
 '07:33',
 '17:12',
 '16:48',
 '21:20',
 '21:29',
 '15:26',
 '09:51',
 '18:16',
 '19:13',
 '21:09',
 '12:11',
 '18:37',
 '19:10',
 '15:43',
 '05:39',
 '19:52',
 '08:52',
 '11:55',
 '14:01',
 '10:17',
 '12:26',
 '00:11',
 '20:56',
 '09:30',
 '13:53',
 '09:05',
 '17:58',
 '16:51',
 '20:22',
 '20:04',
 '07:19',
 '12:37',
 '12:04',
 '18:26',
 '20:58',
 '21:44',
 '18:44',
 '07:19',
 '19:16',
 '21:52',
 '17:23',
 '12:29',
 '18:02',
 '11:00',
 '17:13',
 '21:23',
 '22:36',
 '10:16',
 '11:02',
 '18:51',
 '11:23',
 '07:20',
 '12:13',
 '10:26',
 '10:16',
 '21:24',
 '19:19',
 '11:40',
 '23:56',
 '22:13',
 '20:05',
 '17:58',
 '20:55',
 '13:54',
 '18:45',
 '18:26',
 '10:05',
 '15:19',
 '15:19',
 '22:20',
 '20:20',
 '22:37',
 '07:24',
 '07:24',
 '17:09',
 '13:10',
 '21:51',
 '22:11',
 '14:58',
 '16:07',
 '18:33',
 '11:37',
 '08:46',
 '11:50',
 '13:43',
 '13:22',
 '19:24',
 '21:02',
 '13:57',
 '20:05',
 '16:43',
 '21:33',
 '11:28',
 '19:04',
 '20:00',
 '13:59',
 '20:59',
 '02:07',
 '15:22',
 '13:56',
 '17:53',
 '19:23',
 '20:06',
 '15:42',
 '18:59',
 '10:30',
 '17:56',
 '01:53',
 '21:49',
 '08:16',
 '15:47',
 '15:36',
 '14:31',
 '17:22',
 '11:28',
 '18:47',
 '20:20',
 '12:36',
 '15:43',
 '22:50',
 '19:54',
 '18:50',
 '20:33',
 '11:14',
 '20:33',
 '07:20',
 '13:26',
 '17:10',
 '12:20',
 '16:00',
 '17:59',
 '09:47',
 '09:47',
 '19:37',
 '18:18',
 '19:07',
 '12:33',
 '11:22',
 '11:53',
 '20:00',
 '20:01',
 '18:52',
 '16:58',
 '12:12',
 '13:55',
 '14:05',
 '11:27',
 '10:57',
 '09:30',
 '20:57',
 '16:58',
 '08:34',
 '09:50',
 '06:23',
 '08:00',
 '21:52',
 '11:08',
 '16:43',
 '11:52',
 '19:23',
 '15:14',
 '11:17',
 '08:22',
 '13:35',
 '18:03',
 '13:36',
 '13:49',
 '19:17',
 '13:50',
 '22:51',
 '12:31',
 '23:35',
 '16:30',
 '22:58',
 '05:05',
 '22:26',
 '21:02',
 '18:53',
 '20:40',
 '20:40',
 '13:24',
 '21:56',
 '18:27',
 '13:33',
 '14:03',
 '15:08',
 '15:59',
 '10:08',
 '19:50',
 '00:45',
 '11:42',
 '01:22',
 '11:43',
 '10:23',
 '18:59',
 '21:31',
 '12:34',
 '16:00',
 '16:00',
 '05:46',
 '13:42',
 '21:48',
 '21:48',
 '09:15',
 '20:16',
 '14:39',
 '11:22',
 '09:02',
 '21:08',
 '20:09',
 '19:35',
 '21:15',
 '21:00',
 '18:49',
 '18:49',
 '17:11',
 '07:28',
 '06:44',
 '23:18',
 '10:47',
 '10:09',
 '09:00',
 '13:47',
 '15:00',
 '18:35',
 '13:41',
 '19:59',
 '20:42',
 '14:26',
 '10:12',
 '16:20',
 '15:52',
 '19:38',
 '19:39',
 '06:49',
 '19:09',
 '11:54',
 '17:35',
 '10:58',
 '10:27',
 '10:27',
 '20:48',
 '10:42',
 '20:04',
 '15:31',
 '18:13',
 '00:35',
 '10:48',
 '23:07',
 '18:18',
 '10:23',
 '10:23',
 '10:34',
 '19:01',
 '15:46',
 '14:50',
 '08:26',
 '12:23',
 '19:02',
 '11:25',
 '12:14',
 '22:14',
 '20:23',
 '08:25',
 '12:52',
 '20:10',
 '19:33',
 '14:43',
 '18:37',
 '13:07',
 '08:08',
 '20:27',
 '09:25',
 '12:17',
 '12:04',
 '15:59',
 '09:44',
 '21:20',
 '21:45',
 '19:52',
 '22:05',
 '22:05',
 '20:11',
 '20:48',
 '20:48',
 '14:58',
 '23:13',
 '09:49',
 '20:48',
 '18:29',
 '12:37',
 '10:35',
 '11:38',
 '09:12',
 '07:26',
 '22:29',
 '21:19',
 '23:09',
 '18:24',
 '18:24',
 '12:48',
 '18:07',
 '23:59',
 '19:34',
 '10:22',
 '15:51',
 '15:51',
 '14:45',
 '13:01',
 '19:56',
 '10:37',
 '22:12',
 '01:11',
 '18:29',
 '20:17',
 '22:32',
 '21:19',
 '21:47',
 '13:35',
 '05:50',
 '20:38',
 '15:10',
 '22:23',
 '21:34',
 '23:11',
 '17:09',
 '17:32',
 '19:20',
 '12:33',
 '16:57',
 '17:47',
 '19:34',
 '13:19',
 '20:37',
 '22:39',
 '21:06',
 '21:06',
 '21:14',
 '22:06',
 '21:13',
 '07:18',
 '21:14',
 '20:12',
 '17:57',
 '11:27',
 '17:42',
 '15:53',
 '11:14',
 '10:47',
 '13:02',
 '17:04',
 '10:11',
 '13:49',
 '15:20',
 '21:53',
 '09:33',
 '10:36',
 '15:34',
 '22:48',
 '11:59',
 '00:29',
 '00:33',
 '09:08',
 '12:10',
 '23:24',
 '10:51',
 '21:17',
 '15:07',
 '14:46',
 '17:41',
 '19:31',
 '18:05',
 '12:35',
 '22:41',
 '12:21',
 '19:57',
 '10:27',
 '10:27',
 '20:59',
 '11:13',
 '10:18',
 '10:18',
 '19:16',
 '21:26',
 '20:00',
 '17:17',
 '19:27',
 '12:05',
 '20:07',
 '07:05',
 '12:03',
 '12:08',
 '18:05',
 '17:51',
 '15:24',
 '15:24',
 '20:44',
 '14:36',
 '12:39',
 '11:35',
 '21:52',
 '21:00',
 '17:43',
 '12:36',
 '13:04',
 '18:52',
 '21:17',
 '12:49',
 '18:19',
 '19:32',
 '17:01',
 '01:42',
 '11:10',
 '12:39',
 '15:57',
 '10:53',
 '17:15',
 '12:03',
 '08:34',
 '20:54',
 '18:47',
 '18:14',
 '21:51',
 '09:31',
 '14:17',
 '19:49',
 '15:35',
 '22:36',
 '14:24',
 '09:46',
 '18:21',
 '15:31',
 '23:13',
 '23:36',
 '14:37',
 '14:37',
 '00:30',
 '11:50',
 '20:06',
 '17:34',
 '16:00',
 '17:58',
 '06:20',
 '14:20',
 '11:47',
 '16:45',
 '13:44',
 '12:40',
 '19:58',
 '21:59',
 '12:01',
 '18:38',
 '14:19',
 '17:07',
 '20:07',
 '23:50',
 '18:36',
 '18:54',
 '21:34',
 '11:51',
 '18:47',
 '13:28',
 '16:58',
 '22:58',
 '18:24',
 '07:37',
 '15:17',
 '19:57',
 '16:32',
 '22:08',
 '18:29',
 '09:40',
 '20:53',
 '01:20',
 '09:47',
 '19:14',
 '09:13',
 '19:00',
 '14:22',
 '18:05',
 '19:23',
 '15:17',
 '16:50',
 '20:03',
 '15:36',
 '21:59',
 '13:24',
 '20:21',
 '10:45',
 '18:19',
 '19:41',
 '19:41',
 '06:20',
 '19:41',
 '17:54',
 '16:10',
 '10:42',
 '13:43',
 '13:29',
 '17:05',
 '12:52',
 '08:43',
 '08:52',
 '23:19',
 '09:52',
 '20:38',
 '11:57',
 '22:37',
 '07:33',
 '09:45',
 '19:22',
 '10:56',
 '14:15',
 '14:59',
 '10:03',
 '14:18',
 '20:25',
 '14:26',
 '21:52',
 '21:52',
 '19:03',
 '10:29',
 '18:07',
 '14:45',
 '14:18',
 '11:59',
 '21:38',
 '00:28',
 '17:06',
 '11:39',
 '18:17',
 '15:56',
 '10:56',
 '10:28',
 '21:38',
 '21:38',
 '13:22',
 '22:06',
 '10:11',
 '07:33',
 '12:34',
 '20:19',
 '11:58',
 '10:10',
 '07:18',
 '14:46',
 '14:09',
 '11:56',
 '11:56',
 '16:47',
 '10:43',
 '19:26',
 '16:37',
 '16:37',
 '11:36',
 '21:15',
 '06:47',
 '13:24',
 '20:34',
 '13:58',
 '14:54',
 '16:36',
 '14:01',
 '12:56',
 '12:25',
 '16:51',
 '22:44',
 '19:35',
 '12:19',
 '19:09',
 '13:10',
 '23:57',
 '18:09',
 '09:55',
 '14:46',
 '16:04',
 '11:19',
 '22:31',
 '11:48',
 '00:42',
 '17:00',
 '18:02',
 '09:33',
 '23:00',
 '17:46',
 '09:14',
 '10:47',
 '15:04',
 '00:34',
 '08:31',
 '12:32',
 '13:35',
 '16:52',
 '20:54',
 '17:21',
 '23:46',
 '14:25',
 '17:13',
 '09:06',
 '19:47',
 '18:10',
 '11:13',
 '11:25',
 '17:23',
 '11:58',
 '11:58',
 '22:29',
 '10:50',
 '20:00',
 '17:45',
 '16:11',
 '08:51',
 '14:35',
 '12:26',
 '13:11',
 '18:45',
 '09:39',
 '10:15',
 '16:57',
 '02:31',
 '18:49',
 '20:27',
 '18:25',
 '14:12',
 '14:58',
 '14:58',
 '17:57',
 '19:45',
 '19:12',
 '11:41',
 '11:41',
 '07:51',
 '11:59',
 '16:21',
 '01:12',
 '16:01',
 '14:56',
 '17:36',
 '22:54',
 '10:06',
 '14:43',
 '19:12',
 '07:48',
 '14:10',
 '11:08',
 '16:42',
 '08:18',
 '14:11',
 '05:35',
 '20:14',
 '10:03',
 '08:45',
 '11:52',
 '10:56',
 '00:53',
 '22:11',
 '09:10',
 '18:13',
 '18:13',
 '12:47',
 '12:47',
 '05:00',
 '05:00',
 '11:31',
 '12:59',
 '16:29',
 '12:24',
 '12:24',
 '13:00',
 '12:43',
 '20:00',
 '08:11',
 '17:27',
 '15:09',
 '08:28',
 '18:25',
 '14:52',
 '13:19',
 '19:33',
 '17:05',
 '12:58',
 '12:52',
 '19:53',
 '10:24',
 '00:14',
 '20:57',
 '20:57',
 '19:49',
 '16:05',
 '13:54',
 '20:36',
 '11:52',
 '16:01',
 '18:03',
 '18:52',
 '11:33',
 '10:57',
 '16:39',
 '23:54',
 '20:03',
 '20:03',
 '16:34',
 '12:44',
 '13:16',
 '09:24',
 '22:01',
 '18:15',
 '14:32',
 '14:32',
 '12:23',
 '14:17',
 '14:39',
 '11:54',
 '17:13',
 '15:41',
 '13:58',
 '13:28',
 '21:13',
 '10:47',
 '10:54',
 '11:15',
 '14:40',
 '09:29',
 '09:29',
 '15:20',
 '09:37',
 '06:55',
 '09:17',
 '09:59',
 '17:00',
 '15:54',
 '20:32',
 '21:54',
 '00:42',
 '20:04',
 '18:34',
 '17:08',
 '01:27',
 '15:39',
 '22:10',
 '09:25',
 '09:52',
 '21:25',
 '01:03',
 '09:30',
 '08:50',
 '14:51',
 '14:51',
 '17:51',
 '10:12',
 '11:43',
 '11:50',
 '18:09',
 '17:20',
 '21:52',
 '10:08',
 '09:37',
 '23:59',
 '17:02',
 '22:05',
 '14:58',
 '14:49',
 '14:21',
 '04:20',
 '16:05',
 '18:56',
 '18:19',
 '19:37',
 '09:20',
 '23:15',
 '20:12',
 '12:14',
 '14:16',
 '13:24',
 '20:49',
 '21:21',
 '10:36',
 '09:36',
 '08:59',
 '13:18',
 '20:08',
 '12:56',
 '09:43',
 '09:43',
 '13:44',
 '00:52',
 '21:05',
 '00:07',
 '18:03',
 '16:22',
 '14:25',
 '22:48',
 '22:52',
 '14:27',
 '14:27',
 '17:44',
 '13:26',
 '23:11',
 '09:09',
 '15:55',
 '12:08',
 '11:12',
 '11:40',
 '09:09',
 '06:49',
 '12:58',
 '15:34',
 '10:30',
 '13:45',
 '10:25',
 '08:56',
 '18:10',
 '21:00',
 '06:46',
 '10:59',
 '10:48',
 '08:20',
 '20:29',
 '12:52',
 '14:56',
 '19:21',
 '10:50',
 '17:50',
 '23:37',
 '06:37',
 '06:37',
 '12:12',
 '14:49',
 '22:10',
 '16:21',
 '17:24',
 '09:34',
 '13:59',
 '16:19',
 '15:18',
 '11:05',
 '14:49',
 '16:38',
 '19:19',
 ...]

In [58]:
sale2['Time']=o
sale2

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Time
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101",06,11.95,Portland,19:34
1,209922,Macbook Pro Laptop,1,1700.00,06/30/19 10:05,"80 4th St, San Francisco, CA 94016",06,1700.00,San Francisco,10:05
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001",06,999.99,Los Angeles,20:18
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101",06,149.99,Seattle,10:21
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016",06,99.99,San Francisco,18:58
...,...,...,...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",12,14.95,San Francisco,20:58
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",12,7.68,Los Angeles,12:01
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",12,400.00,Seattle,06:43
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",12,11.99,Dallas,10:39
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",12,99.99,Los Angeles,21:45

In [59]:
sale2['Time'].value_counts().head(1)

19:46    61
Name: Time, dtype: int64

### 8. What is the average purchase by city?

In [60]:
sale2.groupby('City')["Quantity Ordered"].mean().sort_values(ascending=False)

City
 Dallas           1.136986
 Boston           1.135651
 Portland         1.135292
 Austin           1.125545
 New York City    1.124517
 San Francisco    1.123376
 Seattle          1.120792
 Los Angeles      1.119067
 Atlanta          1.115933
Name: Quantity Ordered, dtype: float64