## Assignment 16

### Kartik Thakur

In [26]:
# 1. Merge the two files in one dataframe
# 2. Clean the data
# 3. Change the float column into integer type
# 4. Get the month value from the order date
# 5. Which was the most productive month in terms of sales?
# 6.  Which city had the highest number of sales?
# 7. At what time people did purchase the product?
# 8. What is the average purchase by city?

In [27]:
import pandas as pd

### 1. Merge the two files in one dataframe

In [28]:
# File 1
sale_dec=pd.read_csv('Sales_December_2019.csv')
sale_dec

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [29]:
sale_dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25037 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [30]:
#  File 2
sale_june=pd.read_csv('Sales_June_2019.csv')
sale_june.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [31]:
# now we Merged File
sale=pd.concat([sale_june,sale_dec])
sale.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

###  2. Clean the data

In [32]:
sale.info()  # data contains null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38739 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38616 non-null  object
 1   Product           38616 non-null  object
 2   Quantity Ordered  38616 non-null  object
 3   Price Each        38616 non-null  object
 4   Order Date        38616 non-null  object
 5   Purchase Address  38616 non-null  object
dtypes: object(6)
memory usage: 2.1+ MB

In [33]:
# Checking for present null values
sale.isnull().sum()

Order ID            123
Product             123
Quantity Ordered    123
Price Each          123
Order Date          123
Purchase Address    123
dtype: int64

In [34]:
# Making a copy of original file
new=sale.copy()
new.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [35]:
# Droping OR removing the null values
new.dropna(inplace=True)

In [36]:
new.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [37]:
contain_strings=new['Quantity Ordered'].apply(lambda x: isinstance(x, str)).any()
contain_strings

True

In [38]:
new['Order ID'] = pd.to_numeric(new['Order ID'], errors='coerce')
new = new.dropna(subset=['Order ID'])

# convert the 'purchase_price' column to integer
new['Order ID'] = new['Order ID'].astype(int)

In [39]:
# hence the file is cleaned of duplicate or unneeded values
contain_strings=new['Quantity Ordered'].apply(lambda x: isinstance(x, str))
new['Order ID'].unique()

array([209921, 209922, 209923, ..., 319668, 319669, 319670])

### 3. Change the object type column into integer type or float type

In [40]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38545 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38545 non-null  int32
 1   Product           38545 non-null  object
 2   Quantity Ordered  38545 non-null  object
 3   Price Each        38545 non-null  object
 4   Order Date        38545 non-null  object
 5   Purchase Address  38545 non-null  object
dtypes: int32(1), object(5)
memory usage: 1.9+ MB

In [41]:
## Change the data type to int
convert=["Order ID","Quantity Ordered"] 
for x in convert:
    new[x]=new[x].astype("int64")
new.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [42]:
new["Order ID"].dtype

dtype('int64')

In [43]:
## Change the data type to float
convert=["Price Each"] 
for col in convert:
    new[col]=new[col].astype("float64")

In [44]:
new['Price Each'].dtype

dtype('float64')

In [45]:
sale2.info()

NameError: name 'sale2' is not defined

### 4. Get the month value from the order date

In [46]:
l=[]
for x in sale2['Order Date']:
    d=x.split('/')
    l.append(d)
l

NameError: name 'sale2' is not defined

In [47]:
m=[]
for i in l:
    m.append(i[0])
m

[]

In [48]:
sale2['Month']=m
sale2

NameError: name 'sale2' is not defined

### 5. Which was the most productive month in terms of sales?

In [52]:
new['Sales']=new['Quantity Ordered']*new['Price Each']
new

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101",11.95
1,209922,Macbook Pro Laptop,1,1700.00,06/30/19 10:05,"80 4th St, San Francisco, CA 94016",1700.00
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001",999.99
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101",149.99
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016",99.99
...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",14.95
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",7.68
25114,319668,Vareebadd Phone,1,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",400.00
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",11.99
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",99.99

In [55]:
new.groupby('Month')["sales"].sum().sort_values(ascending=False).head(1)

KeyError: 'Month'

In [56]:
# Hence, we can say that in December , We Had the Higher numbers of Sales.

### 6.  Which city had the highest number of sales?

In [ ]:
y=[]
for x in sale2['Purchase Address']:
    m=x.split(',')
    y.append(m)
y

In [ ]:
z=[]
for i in y:
    z.append(i[-2])
z

In [57]:
new['Revenue']=new[new['Quantity Ordered']*new['Price Each']]

KeyError: "None of [Float64Index([ 11.95, 1700.0, 999.99, 149.99,  99.99,  150.0,  14.95,  150.0,\n               11.99, 149.99,\n              ...\n                2.99,  99.99,  300.0, 999.99,  700.0,  14.95,   7.68,  400.0,\n               11.99,  99.99],\n             dtype='float64', length=38545)] are in the [columns]"

In [58]:
new.groupby('City')["Revenue"].sum().sort_values(ascending=False).head(1)

KeyError: 'City'

### 7. At what time people mostly purchase the product?

In [ ]:
t=[]
for i in l:
    t.append(i[2][3:8])
t

In [ ]:
df['Time'].value_count()

In [ ]:
df['Time'].value_counts().head(1)

### 8. What is the average purchase by city?

In [ ]:
sale2.groupby('City')["Quantity Ordered"].mean().sort_values(ascending=False)