### assignment 16

## kartik thakur

In [1]:
# 1. Merge the two files in one dataframe
# 2. Clean the data
# 3. Change the float column into integer type
# 4. Get the month value from the order date
# 5. Which was the most productive month in terms of sales?
# 6.  Which city had the highest number of sales?
# 7. At what time people did purchase the product?
# 8. What is the average purchase by city?

In [2]:
import pandas as pd

f1= pd.read_csv("Sales_December_2019.csv")
df1=pd.DataFrame(f1)
df1.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [3]:
f2= pd.read_csv("Sales_June_2019.csv")
df2=pd.DataFrame(f2)

# 1 merge the files in one dataframe

In [4]:
df=pd.concat([df1,df2])

In [5]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
13617,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
13618,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
13619,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
13620,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
13621,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

##  clean the data

In [71]:
# data is alread clean..no need for extra

## 3. Change the float column into integer type

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38739 entries, 0 to 13621
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38616 non-null  object
 1   Product           38616 non-null  object
 2   Quantity Ordered  38616 non-null  object
 3   Price Each        38616 non-null  object
 4   Order Date        38616 non-null  object
dtypes: object(5)
memory usage: 1.8+ MB

In [19]:
df['Price Each'] = pd.to_numeric(df['Price Each'],errors='coerce')
df['Price Each'].dtype

In [23]:
df['Quantity Ordered']=pd.to_numeric(df['Quantity Ordered'],errors='coerce')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38739 entries, 0 to 13621
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38616 non-null  object
 1   Product           38616 non-null  object
 2   Quantity Ordered  38545 non-null  float64
 3   Price Each        38545 non-null  float64
 4   Order Date        38616 non-null  object
dtypes: float64(2), object(3)
memory usage: 1.8+ MB

# 4. Get the month value from the order date

In [61]:
df['month'] = df['Order Date'].str.split('/', expand=True)[0]
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38739 entries, 0 to 13621
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          38616 non-null  object
 1   Product           38616 non-null  object
 2   Quantity Ordered  38545 non-null  float64
 3   Price Each        38545 non-null  float64
 4   Order Date        38616 non-null  object
 5   month             38616 non-null  object
dtypes: float64(2), object(4)
memory usage: 3.1+ MB

# 5. Which was the most productive month in terms of sales?

In [70]:
df['revenue'] = df['Price Each'] * df['Quantity Ordered']
revenue_by_month = df.groupby('month')['revenue'].sum()
sorted_revenue = revenue_by_month.sort_values(ascending=False)
most_revenue_month = sorted_revenue.index[0]
print(f"The month with the most revenue is {most_revenue_month}")

The month with the most revenue is 12

# 6.  Which city had the highest number of sales?

In [82]:
df['city'] = df['Purchase Address'].str.split(',').str[1]

KeyError: 'Purchase Address'