## ASSIGNMENT 10

### RESHAV SAROA

### 1. Create a Series from numpy array generated from random function randn and get the third place value.

In [18]:
import pandas as pd
import numpy as np

d=np.random.randn(5)

dp=pd.Series(d)
dp

0    0.606822
1   -0.651067
2   -1.137401
3   -0.177115
4    0.627855
dtype: float64

In [19]:
# showing 3rd place value
d[3]

-0.1771153420555912

## 2. Create a Dataframe from dictionary having keys: Country, State, Population and values in the list upto 4 values. Population values = [200, 700,100, 500, 800, 50, 900]

In [20]:
country = {
    "Country": ["Nepal", "Bangladesh", "Pakistan", "Mauritius", "India", "Canada", "China"],
    "State": [
        " Gandaki Province, Lumbini Province, Province No. 1, Province No. 2",
        " Mymensingh Division, Rajshahi Division, Rangpur Division, Sylhet Division",
        " Punjab, Sindh",
        " Flacq, Grand Port, Moka, Pamplemousses, Plaines Wilhems, Port Louis, Rivi√®re du Rempart, Rodrigues, Savanne",
        " Himachal Pradesh, Jharkhand, Karnataka, Kerala, Madhya Pradesh, Maharashtra, Manipur, Meghalaya, Mizoram, Nagaland, Odisha, Punjab, Rajasthan, Sikkim, Tamil Nadu, Telangana, Tripura, Uttar Pradesh, Uttarakhand, West Bengal",
        " Nunavut, Ontario, Prince Edward Island, Quebec, Saskatchewan, Yukon",
        "  Tibet, Xinjiang, Beijing, Chongqing, Shanghai, Tianjin"
    ],
    "Population": [200, 700, 100, 500, 800, 50, 900]
}

d=pd.DataFrame(country)
d

      Country                                              State  Population
0       Nepal   Gandaki Province, Lumbini Province, Province ...         200
1  Bangladesh   Mymensingh Division, Rajshahi Division, Rangp...         700
2    Pakistan                                      Punjab, Sindh         100
3   Mauritius   Flacq, Grand Port, Moka, Pamplemousses, Plain...         500
4       India   Himachal Pradesh, Jharkhand, Karnataka, Keral...         800
5      Canada   Nunavut, Ontario, Prince Edward Island, Quebe...          50
6       China    Tibet, Xinjiang, Beijing, Chongqing, Shangha...         900

### a) Describe the dataframe by excluding object type data

In [21]:
d_desc = d.describe(exclude='object')
d_desc

       Population
count    7.000000
mean   464.285714
std    349.659699
min     50.000000
25%    150.000000
50%    500.000000
75%    750.000000
max    900.000000

### b) Sort the country according to the population

In [22]:
d_sorted = d.sort_values(by='Population') # low to high
d_sorted

      Country                                              State  Population
5      Canada   Nunavut, Ontario, Prince Edward Island, Quebe...          50
2    Pakistan                                      Punjab, Sindh         100
0       Nepal   Gandaki Province, Lumbini Province, Province ...         200
3   Mauritius   Flacq, Grand Port, Moka, Pamplemousses, Plain...         500
1  Bangladesh   Mymensingh Division, Rajshahi Division, Rangp...         700
4       India   Himachal Pradesh, Jharkhand, Karnataka, Keral...         800
6       China    Tibet, Xinjiang, Beijing, Chongqing, Shangha...         900

### c) Get the values of second row

In [7]:
second_row = d.iloc[1]
print(second_row)

Country                                              Bangladesh
State          Mymensingh Division, Rajshahi Division, Rangp...
Population                                                  700
Name: 1, dtype: object

### d) Sort the country names alphabetically

In [8]:
df = d.sort_values('Country')
print(df)

      Country                                              State  Population
1  Bangladesh   Mymensingh Division, Rajshahi Division, Rangp...         700
5      Canada   Nunavut, Ontario, Prince Edward Island, Quebe...          50
6       China    Tibet, Xinjiang, Beijing, Chongqing, Shangha...         900
4       India   Himachal Pradesh, Jharkhand, Karnataka, Keral...         800
3   Mauritius   Flacq, Grand Port, Moka, Pamplemousses, Plain...         500
0       Nepal   Gandaki Province, Lumbini Province, Province ...         200
2    Pakistan                                      Punjab, Sindh         100

### e) Create the new column with name capital

In [9]:
capitals = ["Kathmandu", "Dhaka", "Islamabad", "Port Louis", "New Delhi", "Ottawa", "Beijing"]

df['Capital'] = capitals
print(df)

      Country                                              State  Population  \
1  Bangladesh   Mymensingh Division, Rajshahi Division, Rangp...         700
5      Canada   Nunavut, Ontario, Prince Edward Island, Quebe...          50
6       China    Tibet, Xinjiang, Beijing, Chongqing, Shangha...         900
4       India   Himachal Pradesh, Jharkhand, Karnataka, Keral...         800
3   Mauritius   Flacq, Grand Port, Moka, Pamplemousses, Plain...         500
0       Nepal   Gandaki Province, Lumbini Province, Province ...         200
2    Pakistan                                      Punjab, Sindh         100

      Capital
1   Kathmandu
5       Dhaka
6   Islamabad
4  Port Louis
3   New Delhi
0      Ottawa
2     Beijing

### f) Get the population of country more than 500

In [10]:
pop_more_than_500 = d[d['Population'] > 500]['Population']
print(pop_more_than_500)

1    700
4    800
6    900
Name: Population, dtype: int64

### g) Remove the state column from the dataframe

In [11]:
df = d.drop('State', axis=1)
print(df)

      Country  Population
0       Nepal         200
1  Bangladesh         700
2    Pakistan         100
3   Mauritius         500
4       India         800
5      Canada          50
6       China         900

### h) Change the column name Population to %_Population

In [12]:
d.rename(columns={'Population': '%_Population'}, inplace=True)

### i) Find the maximum populated country

In [13]:
pop_by_country = d.groupby('Country')['%_Population'].sum()

# sort the resulting dataframe in descending order
pop_by_country = pop_by_country.sort_values(ascending=False)

# get the most populated country
most_populated_country = pop_by_country.index[0]

print('The most populated country is:', most_populated_country)

The most populated country is: China