## ASSIGNMENT 4
### KARTIK THAKUR

### 1. Find the factorial of a given number by user

In [14]:
n = int(input("Enter a number: "))
factorial = 1
if n < 0:
    print("Factorial is not defined for negative numbers.")
elif n == 0:
    print("Factorial of 0 is 1.")
else:
    for i in range(1, n+1):
        factorial *= i
    print("Factorial of", n, "is", factorial)

Enter a number: 5
Factorial of 5 is 120

### 2. Write a program to count the total number of digits in a number using a while loop.

In [99]:
x = int(input("enter digits"))
for i in range(0,x):
    print(i)

enter digits34
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

### 3. Write a Python program to convert temperatures to and from Celsius and Fahrenheit

In [29]:
temp_c=int(input("enter input"))
print("your temperature is",temp_c,"°C\n")

ftemp= temp_c*33.8
ftemp=round(ftemp,2)
print("your temperature in farenhite is",ftemp,"F")

enter input13
your temperature is 13 °C

your temperature in farenhite is 439.4 F

### 4. Write a Python program that prints each item and its corresponding type from the following list. 
: datalist =  [1452, 11.23, 1+2j, True, 'C-DAC', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [40]:
datalist =  [1452, 11.23, 1+2j, True, 'C-DAC', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
    print(i,type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
C-DAC <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

### 5. Write a Python program that accepts a string and calculates the number of digits and letters.

In [51]:
x = str(input("Enter your number"))
print(x)

xlen = len(x)
print(xlen)

Enter your numbersdfg
sdfg
4

## 6. Use else block to display a message “Done” after successful execution of for loop
## for i in range(5): 
 ##  print(i)

In [3]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

### 7. Write a Python program to print the alphabet pattern 'D' using # symbol

In [64]:


print("#########")
print("#       #" )
print("#      #")
print("#     #") 
print("#    #")
print("#  #")
print("#")

#########
#       #
#      #
#     #
#    #
#  #
#

### 8.  Write a Python program to convert a month name to a number of days from given month name list.
### month=['jan', 'feb', 'mar', ........., 'nov', 'dec']

In [87]:
month ={"january":31,"feburary":28,"march":31,"april":30,"may":31,"june":30,"july":31,"august":30,"september":31,"october":30,"novomber":31,"december":30}
z= str(input(" enter month name "))

print(month[z])

 enter month name march
31

### 9. Find all of the numbers from 1–1000 that have a 6 in them using list comprehension

In [81]:

numbers_with_6 = [num for num in range(1, 1001) if '6' in str(num)];print(numbers_with_6)

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996]

### 10. Remove all of the vowels in a given string
### "Practice Problems to Learn List Comprehension"

In [97]:
string = "Practice Problems to Learn List Comprehension"
vowels = "aeiouAEIOU"
result = "".join([char for char in string if char not in vowels])
print(result)

Prctc Prblms t Lrn Lst Cmprhnsn