### CLASS 4

In [ ]:
seq =[1,2,3,4,5]

for i in seq:
    print("yepppi")

In [ ]:
for i in seq:
    print(i+i)

In [ ]:
# itrating over a string
name = "welocme to punjab"
for i in name :
    print(i, end= " , ")

In [ ]:
## iterating over a tuple

colors = ("red","green","blue","yellow")
for x  in colors:
    print(x)

In [ ]:
for k in range(5):
    print(k)

In [ ]:
for k in range(4,13):
    print(k)

In [ ]:
for k in range():
    print(k)

In [ ]:
m =list(range(5))
print(m)

In [ ]:
count = 100000
while(count>0):
    print(count)
    count = count-1

In [42]:
x = 5
while (x>0):
    print(x)
    x=x-1
else:
    print("counter is zero")

5
4
3
2
1
counter is zero

In [43]:
i=1
while i<5:
    print("i is :{}".format(i))
    i =i+1

i is :1
i is :2
i is :3
i is :4

In [65]:
i=1
while (i<=3):
    for k in range(1,4):
        print( i*k, )
        i=i+1
print()

1
4
9

In [94]:
for i in range(1,4):
    k=1
    while (k<=3):
        print(i*k)
        k=k+1
    print()

1
2
3

2
4
6

3
6
9

### control statement

In [95]:
i=1
if (i==2):
    pass

In [103]:
candy=("simple","not","hot","mot","slot","dotot")
for i in candy:
    pass

In [104]:
for i in range(1,10):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

In [119]:
i =1
while(i<=10):
    i =i+1
    if(1%2 !=0):
        continue
print(i)

11

In [124]:
i=10
while(i<=10):
    i=i+1
    if(i==5):
        break
print(i)

11

In [125]:
for i in range(1,10):
    if (i==10):
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [128]:
#list comprehension
x =[1,2,3,4]
m =[i**2 for i in x]
m

[1, 4, 9, 16]

In [145]:
names=["kartik","jyoti","anchal", "vishnu","piyush"]
m=[i for i in names if "i"in i]
print(m)

['kartik', 'jyoti', 'vishnu', 'piyush']

In [151]:
names=["kartik","jyoti","anchal", "vishnu","piyush"]
for i in names:
    if( "k"in i):
        print(names)

['kartik', 'jyoti', 'anchal', 'vishnu', 'piyush']

In [152]:
x = frozenset(names)
print(x)

frozenset({'kartik', 'vishnu', 'anchal', 'jyoti', 'piyush'})

In [158]:
# does not support changing ...
x[1]="work"

TypeError: 'frozenset' object does not support item assignment