# K nearest neighbour

In [101]:
import time
import numpy as np
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

In [102]:
df=sns.load_dataset('iris')

In [103]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [104]:
x,y=df.values[:,:-1],df.values[:,-1]

In [105]:
x=x.astype('float32')
encoder=LabelEncoder()

In [106]:
y=encoder.fit_transform(y)

In [107]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [108]:
print('x train shape:',x_train.shape)
print('x train shape:',x_test.shape)
print('y_train shape:',y_train.shape)
print('y_test_shape:',y_test.shape)

x train shape: (105, 4)
x train shape: (45, 4)
y_train shape: (105,)
y_test_shape: (45,)

In [109]:
start_time=time.time()

In [110]:
model=KNeighborsClassifier(n_neighbors=5)

In [113]:

model.fit(x_train,y_train)
accuracy=model.score(x_test,y_test)
print('Model accuracy : 4f'% accuracy)
end_time=time.time()

Model accuracy : 4f

In [115]:
for i in range(1,40):
    knn=KNeighboursClassifier(n_neighbours=i)
    model.fit(x_train,y_train)
    pred_i=knn.predict(x_test)
    error_rate.append(np.mean(pred_i !=y_test))

NameError: name 'KNeighboursClassifier' is not defined