# ASSIGNMENT 2
#KARTIK THAKUR

### Q1 Access value 20 from the tuple, t = ("oragne",[10,20,30],[5,15,25])

In [38]:
t = ("oragne",[10,20,30],[5,15,25])
tnew =t[1][1]
print(tnew)

20

##  Q2 unpack the tuple into 2 variables ,t =(10,20,30,40,50)

In [39]:
t = (10, 20, 30, 40)

a, b,*rest = t

print(a)
print(b)
print(rest)

10
20
[30, 40]

## 3. Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [30]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

intersection_set = set1.intersection(set2)

print(intersection_set)

{40, 50, 30}

## 4. Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50} ,
set2 = {30, 40, 50, 60, 70}

In [35]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

## 5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [36]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)

print(set1)

#In this example, the symmetric_difference_update() method is called on set1 with set2 passed as an argument.

{20, 70, 10, 60}