# kartik thakur

### ASSIGNMENT NO .1

###  Q1 Calculate the sum and multiplication of two numbers , the answer should be less than 100. take input from user

In [32]:
 A = int(input("Enter first number = ")) # taking input for A
    
 B = int(input("Enter second number = "))  # taking input for B   

print("sum = ",A+B)  # SUM OF TWO NUMBERS

print("multplicaton =",A*B)  # MULTIPLYING TWO NUMBERS

Enter first number = 2
Enter second number = 3
sum =  5
multplicaton = 6

### Q2 Print the statment : welcome to C-DAC

In [33]:
print("welcome to C-DAC")   #PRINTING CDAC

welcome to C-DAC

### Q3 Display float number upto two decimal n = 458.511332

In [35]:
 n = 458.511332
    
n_round = round(n,2)
print(n_round)

458.51

### Q4 Using string.format() method to display output : My name is {} .My age is {} . 
### I know {} Language

In [9]:
Name = "kartik"
age = "21"
Language = "python"
sen = "my name is {} . My name is {}. My age is {}.I know {} language"
sen.format(Name,age,Language)

IndexError: Replacement index 3 out of range for positional args tuple

### Q5 Grab hello from the nested list , lst =[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [13]:
nest =[1,2,[3,4],[5,[100,200,["hello"]],23,11],1,7] 

nest[3][1][2][0]

'hello'

### Q Reverse the list L = [100,200,300,400]

In [23]:
L = [100,200,300,400]
L.reverse()

None

### Q7 Find 20 from the list and replace it with 200

In [15]:
L =[5,10,20,30,40,20]
L[2]= 200
L[5]=200
print(L)

[5, 10, 200, 30, 40, 200]