## Assignment 16

### Kartik Thakur

In [ ]:
# 1. Merge the two files in one dataframe
# 2. Clean the data
# 3. Change the float column into integer type
# 4. Get the month value from the order date
# 5. Which was the most productive month in terms of sales?
# 6.  Which city had the highest number of sales?
# 7. At what time people did purchase the product?
# 8. What is the average purchase by city?

In [ ]:
import pandas as pd

### 1. Merge the two files in one dataframe

In [ ]:
# File 1
sale_dec=pd.read_csv('Sales_December_2019.csv')
sale_dec.head()

In [ ]:
sale_dec.info()

In [ ]:
#  File 2
sale_june=pd.read_csv('Sales_June_2019.csv')
sale_june.head()

In [ ]:
# Merged File
sale=pd.concat([sale_june,sale_dec])
sale.head()

###  2. Clean the data

In [ ]:
sale.info()

In [ ]:
# Checking for present null values
sale.isnull().sum()

In [ ]:
# Making a copy of original file
sale2=sale.copy()
sale2.head()

In [ ]:
# Droping OR removing the null values
sale2.dropna(inplace=True)

In [ ]:
sale2.isnull().sum()

In [ ]:
#Hence File is cleaned of null Values

In [ ]:
sale2[sale2['Order ID']=='Order ID']

In [ ]:
sale2.drop(sale2[sale2['Order ID']=='Order ID'].index,inplace=True)
sale2.head()

In [ ]:
sale2.reset_index()

In [ ]:
# hence the file is cleaned of duplicate or unneeded values

### 3. Change the object type column into integer type or float type

In [ ]:
sale2.info()

In [ ]:
## Change the data type to int
convert=["Order ID","Quantity Ordered"] 
for x in convert:
    sale2[x]=sale2[x].astype("int64")
sale2.head()

In [ ]:
sale2["Order ID"].dtype

In [ ]:
## Change the data type to float
convert=["Price Each"] 
for col in convert:
    sale2[col]=sale2[col].astype("float64")

In [ ]:
sale2['Price Each'].dtype

In [ ]:
sale2.info()

### 4. Get the month value from the order date

In [ ]:
l=[]
for x in sale2['Order Date']:
    d=x.split('/')
    l.append(d)
l

In [ ]:
m=[]
for i in l:
    m.append(i[0])
m

In [ ]:
sale2['Month']=m
sale2

### 5. Which was the most productive month in terms of sales?

In [ ]:
sale2['Sales']=sale2['Quantity Ordered']*sale2['Price Each']
sale2

In [ ]:
sale2.groupby('Month')["Quantity Ordered"].sum().sort_values(ascending=False).head(1)

In [ ]:
# Hence, we can say that in December , We Had the Higher numbers of Sales.

### 6.  Which city had the highest number of sales?

In [ ]:
y=[]
for x in sale2['Purchase Address']:
    m=x.split(',')
    y.append(m)
y

In [ ]:
z=[]
for i in y:
    z.append(i[-2])
z

In [ ]:
df['City']=z

In [ ]:
df.groupby('City')["Quantity Ordered"].sum().sort_values(ascending=False).head(1)

### 7. At what time people mostly purchase the product?

In [ ]:
t=[]
for i in l:
    t.append(i[2][3:8])
t

In [ ]:
df['Time'].value_count()

In [ ]:
df['Time'].value_counts().head(1)

### 8. What is the average purchase by city?

In [ ]:
sale2.groupby('City')["Quantity Ordered"].mean().sort_values(ascending=False)