## ASSIGNMENT 10
### KARTIK THKAUR

### 1. Create a Series from numpy array generated from random function randn and get the third place value.

In [29]:
import pandas as pd
import numpy as np

d=np.random.randn(5)

dp=pd.Series(d)
dp

0    1.228386
1    0.998447
2   -0.572661
3    0.621883
4    0.832355
dtype: float64

In [30]:
# showing 3rd place value
d[3]

0.6218826551312114

## 2. Create a Dataframe from dictionary having keys: Country, State, Population and values in the list upto 4 values. Population values = [200, 700,100, 500, 800, 50, 900]

In [76]:
country = {
    "Country": ["Nepal", "Bangladesh", "Pakistan", "Mauritius", "India", "Canada", "China"],
    "State": [
        "Bagmati Province, Sudurpashchim Province, Karnali Province, Gandaki Province, Lumbini Province, Province No. 1, Province No. 2",
        "Barisal Division, Chittagong Division, Dhaka Division, Khulna Division, Mymensingh Division, Rajshahi Division, Rangpur Division, Sylhet Division",
        "Azad Jammu and Kashmir, Balochistan, Gilgit-Baltistan, Islamabad Capital Territory, Khyber Pakhtunkhwa, Punjab, Sindh",
        "Agaléga Islands, Black River, Cargados Carajos Shoals (Saint Brandon), Flacq, Grand Port, Moka, Pamplemousses, Plaines Wilhems, Port Louis, Rivière du Rempart, Rodrigues, Savanne",
        "Andhra Pradesh, Arunachal Pradesh, Assam, Bihar, Chhattisgarh, Goa, Gujarat, Haryana, Himachal Pradesh, Jharkhand, Karnataka, Kerala, Madhya Pradesh, Maharashtra, Manipur, Meghalaya, Mizoram, Nagaland, Odisha, Punjab, Rajasthan, Sikkim, Tamil Nadu, Telangana, Tripura, Uttar Pradesh, Uttarakhand, West Bengal",
        "Alberta, British Columbia, Manitoba, New Brunswick, Newfoundland and Labrador, Northwest Territories, Nova Scotia, Nunavut, Ontario, Prince Edward Island, Quebec, Saskatchewan, Yukon",
        "Anhui, Fujian, Gansu, Guangdong, Guizhou, Hainan, Hebei, Heilongjiang, Henan, Hubei, Hunan, Jiangsu, Jiangxi, Jilin, Liaoning, Qinghai, Shaanxi, Shandong, Shanxi, Sichuan, Yunnan, Zhejiang, Guangxi, Inner Mongolia, Ningxia, Tibet, Xinjiang, Beijing, Chongqing, Shanghai, Tianjin"
    ],
    "Population": [200, 700, 100, 500, 800, 50, 900]
}

d=pd.DataFrame(country)
d

      Country                                              State  Population
0       Nepal  Bagmati Province, Sudurpashchim Province, Karn...         200
1  Bangladesh  Barisal Division, Chittagong Division, Dhaka D...         700
2    Pakistan  Azad Jammu and Kashmir, Balochistan, Gilgit-Ba...         100
3   Mauritius  Agaléga Islands, Black River, Cargados Carajos...         500
4       India  Andhra Pradesh, Arunachal Pradesh, Assam, Biha...         800
5      Canada  Alberta, British Columbia, Manitoba, New Bruns...          50
6       China  Anhui, Fujian, Gansu, Guangdong, Guizhou, Hain...         900