### assignment 16

## kartik thakur

In [ ]:
# 1. Merge the two files in one dataframe
# 2. Clean the data
# 3. Change the float column into integer type
# 4. Get the month value from the order date
# 5. Which was the most productive month in terms of sales?
# 6.  Which city had the highest number of sales?
# 7. At what time people did purchase the product?
# 8. What is the average purchase by city?

In [ ]:
import pandas as pd

f1= pd.read_csv("Sales_December_2019.csv")
df1=pd.DataFrame(f1)
df1.head()

In [ ]:
f2= pd.read_csv("Sales_June_2019.csv")
df2=pd.DataFrame(f2)

# #1 merge the files in one dataframe

In [ ]:
df=pd.concat([df1,df2])

In [ ]:

pd.set_option('display.max_rows', None)
df

##  Clean the data

In [ ]:
# checking the null values firstly
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)
df.isnull().sum()

## 3. Change the float column into integer type

In [ ]:
df.dtypes

In [ ]:
df['Price Each'] = pd.to_numeric(df['Price Each'],errors='coerce')
df['Price Each'].dtype

In [ ]:
df['Quantity Ordered']=pd.to_numeric(df['Quantity Ordered'],errors='coerce')

In [ ]:
df.info()

# 4. Get the month value from the order date

In [ ]:
df['month'] = df['Order Date'].str.split('/', expand=True)[0]
df

# 5. Which was the most productive month in terms of sales?

In [ ]:
df['revenue'] = df['Price Each'] * df['Quantity Ordered']
revenue_by_month = df.groupby('month')['revenue'].sum()
sorted_revenue = revenue_by_month.sort_values(ascending=False)
most_revenue_month = sorted_revenue.index[0]
print(f"The month with the most revenue is {most_revenue_month}")

# 6.  Which city had the highest number of sales?

In [ ]:
y=[]
for x in df['Purchase Address']:
    m=x.split(',')
    y.append(m)
y