### Assignment 16

### kartik thakur

In [3]:
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# 1. Merge the files in one dataframe.
# 2. Clean the data.
# 3. Change the object type column into integer type or float type.
# 4. Get the month value from the order date?
# 5. Which was the most productive month in terms of sales?
# 6.  Which city had the highest number of sales?
# 7. At what time people mostly purchase the product?
# 8. What is the average purchase by city?
# 9. Which product has the highest sales?
# 10. In Month of September, which product has the lowest sales?

In [ ]:
# firstly we imported all files into on code and save in one dataframe
import pandas as pd
files = [file for file in os.listdir(r'C:\Users\cdac\Documents\GitHub\CDAC-PYTHON-WITH-AI\JUPITER FOLDER (AI)\ASSIGNMENTS\assignment 16')
sales_df = pd.DataFrame()
for file in files:
 df = pd.read_csv('C:/Users/cdac/Documents/GitHub/CDAC-PYTHON-WITH-AI/JUPITER FOLDER (AI)/ASSIGNMENTS/assignment 16'+file)
 sales_df = pd.concat([sales_df,df])

In [ ]:
# files=['Sales_January_2019.csv','Sales_February_2019.csv','Sales_March_2019.csv','Sales_April_2019.csv','Sales_May_2019.csv','Sales_June_2019.csv','Sales_July_2019.csv','Sales_August_2019.csv','Sales_September_2019.csv','Sales_October_2019.csv','Sales_November_2019.csv','Sales_December_2019.csv']
# dataframe=[]
# for file in files:
#     df=pd.read_csv(file)
#     dataframe.append(df)

In [ ]:
merge=pd.concat(dataframe,ignore_index=True)

In [ ]:
merge

# clean the data

In [ ]:
data=merge.copy()
data

In [ ]:
data.isnull().sum()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.info()

In [ ]:
data['Order ID',]=pd.to_numeric(data['Order ID'],errors='coerce')
data.dropna(inplace=True)

# 3. Change the object type column into integer type or float type.

In [99]:
 data['Order ID']=data['Order ID'].astype('int64')

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   (Order ID,)       185950 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 11.3+ MB

In [119]:
data['Quantity Ordered']=data['Quantity Ordered'].astype('int32')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int32
 3   Price Each        185950 non-null  float64
 4   Order Date        1 non-null       object
 5   Purchase Address  185950 non-null  object
 6   (Order ID,)       185950 non-null  float64
 7   month             185950 non-null  object
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 16.1+ MB

In [120]:
data['Price Each']=data['Price Each'].astype('float')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int32
 3   Price Each        185950 non-null  float64
 4   Order Date        1 non-null       object
 5   Purchase Address  185950 non-null  object
 6   (Order ID,)       185950 non-null  float64
 7   month             185950 non-null  object
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 16.1+ MB

# 4. Get the month value from the order date?

In [122]:
# data['Order Date']=data['Order Date'].str.split('/',expand=True)
merge

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
186845,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
186846,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
186847,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
186848,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
186849,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"